unpackaged/main/default/flows/Account_Based_Clinical_Trial_Match_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Clinical_Trial_Patient_Collection</name>
        <label>Add to Clinical Trial Patient Collection</label>
        <locationX>757</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>collClinicalTrialPatient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>toAddClinicalTrialPatient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Chosen_Clinical_Trial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Final_Clinical_Trial_Collection</name>
        <label>Add To Final Clinical Trial Collection</label>
        <locationX>943</locationX>
        <locationY>966</locationY>
        <assignmentItems>
            <assignToReference>finalClinicalTrialCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopingOriginalClinicalTrials</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Original_Clinical_Trials</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_String_of_Clinical_Trial_Patient_Ids</name>
        <label>Add to String of Clinical Trial Patient Ids</label>
        <locationX>419</locationX>
        <locationY>1114</locationY>
        <assignmentItems>
            <assignToReference>stringClinicalTrialPatientRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaClinicalTrialPatientIdAndSep</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Existing_Clinical_Trial_Patient_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assemble_Clinical_Trial_Patient_Record</name>
        <label>assemble Clinical Trial Patient Record</label>
        <locationX>656</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>toAddClinicalTrialPatient.Clinical_Trial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopingClinicalTrial.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toAddClinicalTrialPatient.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toAddClinicalTrialPatient.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Interested</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Clinical_Trial_Patient_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_choices_in_the_filter</name>
        <label>Are there any choices in the filter?</label>
        <locationX>679</locationX>
        <locationY>533</locationY>
        <defaultConnector>
            <targetReference>Possible_Clinical_Trials</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_there_are_no_choices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Clinical_Trials</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>no_results_screen</targetReference>
            </connector>
            <label>if there are no choices</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Primary_Contact_have_Gender_set</name>
        <label>Does the Primary Contact have Gender set?</label>
        <locationX>50</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>Insufficient_Information_to_continue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Gender has not been set</defaultConnectorLabel>
        <rules>
            <name>Yes_Gender_is_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Account_Record.HealthCloudGA__Gender__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Clinical_Trials</targetReference>
            </connector>
            <label>Yes, Gender is set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Id_in_the_Existing_Clinical_Trial_Patient_list</name>
        <label>Is the Id in the Existing Clinical Trial Patient list?</label>
        <locationX>725</locationX>
        <locationY>1052</locationY>
        <defaultConnector>
            <targetReference>Add_To_Final_Clinical_Trial_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No it is not</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fomulaClinicalTrialIDinExistingClinicalTrialPatientRecordList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Original_Clinical_Trials</targetReference>
            </connector>
            <label>Yes it is</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>recordChoiceSetClinicalTrials</name>
        <dataType>String</dataType>
        <displayField>Brief_Title__c</displayField>
        <filters>
            <field>Clinical_Trial_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruiting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Gender__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Person_Contact_Record.HealthCloudGA__Gender__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gender__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Minimum_Age__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>get_Person_Contact_Record.Age_Num__c</elementReference>
            </value>
        </filters>
        <object>Clinical_Trial__c</object>
        <outputAssignments>
            <assignToReference>createClinicalTrialPatients.Clinical_Trial__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fomulaClinicalTrialIDinExistingClinicalTrialPatientRecordList</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!stringClinicalTrialPatientRecords},{!loopingOriginalClinicalTrials.Id})</expression>
    </formulas>
    <formulas>
        <name>formulaClinicalTrialPatientIdAndSep</name>
        <dataType>String</dataType>
        <expression>{!loopingClinicalTrialPatient.Clinical_Trial__c} + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaLengthOfChoiceSet</name>
        <dataType>Number</dataType>
        <expression>len({!recordChoiceSetClinicalTrials})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulaPatientAge</name>
        <dataType>Number</dataType>
        <expression>IF (ISNULL ({!get_Person_Contact_Record.Age_Num__c}), 1000, {!get_Person_Contact_Record.Age_Num__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Account Based Clinical Trial Match Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Based Clinical Trial Match Flow</label>
    <loops>
        <name>For_Each_Chosen_Clinical_Trial</name>
        <label>For Each Chosen Clinical Trial</label>
        <locationX>857</locationX>
        <locationY>194</locationY>
        <assignNextValueToReference>loopingClinicalTrial</assignNextValueToReference>
        <collectionReference>chosenClinicalTrials</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assemble_Clinical_Trial_Patient_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Clinical_Trial_Patient_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Original_Clinical_Trials</name>
        <label>Loop Original Clinical Trials</label>
        <locationX>628</locationX>
        <locationY>896</locationY>
        <assignNextValueToReference>loopingOriginalClinicalTrials</assignNextValueToReference>
        <collectionReference>get_Clinical_Trials</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_Id_in_the_Existing_Clinical_Trial_Patient_list</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_any_choices_in_the_filter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Existing_Clinical_Trial_Patient_Records</name>
        <label>Loop Through Existing Clinical Trial Patient Records</label>
        <locationX>420</locationX>
        <locationY>899</locationY>
        <assignNextValueToReference>loopingClinicalTrialPatient</assignNextValueToReference>
        <collectionReference>get_Clinical_Trial_Patient_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_String_of_Clinical_Trial_Patient_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Original_Clinical_Trials</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Clinical_Trial_Patient_Records</name>
        <label>Create Clinical Trial Patient Records</label>
        <locationX>1069</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>Last_Screen</targetReference>
        </connector>
        <inputReference>collClinicalTrialPatient</inputReference>
    </recordCreates>
    <recordLookups>
        <description>To use for Account based information filtering</description>
        <name>get_Account_Record</name>
        <label>get Account Record</label>
        <locationX>258</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Person_Contact_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Grab this list of already-applied for Clinical Trials for this patient - used to remove ones from the list that the Patient has already applied for.</description>
        <name>get_Clinical_Trial_Patient_Records</name>
        <label>get Clinical Trial Patient Records</label>
        <locationX>258</locationX>
        <locationY>899</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Existing_Clinical_Trial_Patient_Records</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Clinical_Trial_Patient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Clinical_Trials</name>
        <label>get Clinical Trials</label>
        <locationX>258</locationX>
        <locationY>764</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Clinical_Trial_Patient_Records</targetReference>
        </connector>
        <filters>
            <field>Clinical_Trial_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recruiting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Gender__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Account_Record.HealthCloudGA__Gender__pc</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gender__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Minimum_Age__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>formulaPatientAge</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Clinical_Trial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Person_Contact_Record</name>
        <label>get Person Contact Record</label>
        <locationX>257</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Primary_Contact_have_Gender_set</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Account_Record.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Insufficient_Information_to_continue</name>
        <label>Insufficient Information to continue</label>
        <locationX>58</locationX>
        <locationY>858</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>insufficientInformationText</name>
            <fieldText>&lt;p&gt;Please check the Patient record for Gender information.  Without this information the clinical trials matching will be incomplete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Last_Screen</name>
        <label>Confirmation</label>
        <locationX>1213</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_done_text</name>
            <fieldText>&lt;p&gt;Congratulations!  You have registered your interest.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click below to finish&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>no_results_screen</name>
        <label>no_results_screen</label>
        <locationX>1030</locationX>
        <locationY>623</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>no_results</name>
            <fieldText>&lt;p&gt;There are no trials that currently match this patient.  Please try again later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Possible_Clinical_Trials</name>
        <label>Possible Clinical Trials</label>
        <locationX>857</locationX>
        <locationY>357</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>For_Each_Chosen_Clinical_Trial</targetReference>
        </connector>
        <fields>
            <name>Header_Display</name>
            <fieldText>&lt;p&gt;Please choose one or more trials below to register interest.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LDT_Clinical_Trials</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard1</name>
                <value>
                    <elementReference>finalClinicalTrialCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>NCTId__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_icon</name>
                <value>
                    <stringValue>&quot;description&quot;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>NCT ID</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Brief_Title__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Clinical_Trial_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_type</name>
                <value>
                    <stringValue>picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_standard1</name>
                <value>
                    <elementReference>chosenClinicalTrials</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_width</name>
                <value>
                    <numberValue>125.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_width</name>
                <value>
                    <numberValue>125.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>chosenClinicalTrials</assignToReference>
                <name>selectedRows_standard1</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>132</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>chosenClinicalTrials</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinical_Trial__c</objectType>
    </variables>
    <variables>
        <name>collClinicalTrialPatient</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinical_Trial_Patient__c</objectType>
    </variables>
    <variables>
        <name>createClinicalTrialPatients</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinical_Trial_Patient__c</objectType>
    </variables>
    <variables>
        <name>finalClinicalTrialCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinical_Trial__c</objectType>
    </variables>
    <variables>
        <name>inputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopingClinicalTrial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinical_Trial__c</objectType>
    </variables>
    <variables>
        <name>loopingClinicalTrialPatient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinical_Trial_Patient__c</objectType>
    </variables>
    <variables>
        <name>loopingOriginalClinicalTrials</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinical_Trial__c</objectType>
    </variables>
    <variables>
        <name>selectedTrials</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Clinical_Trial__c</objectType>
    </variables>
    <variables>
        <name>stringClinicalTrialPatientRecords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toAddClinicalTrialPatient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinical_Trial_Patient__c</objectType>
    </variables>
    <variables>
        <name>varnumberofresults</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
