unpackaged/main/default/flows/Account_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Populate_State</name>
        <label>Populate State</label>
        <locationX>138</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Knowledge.State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Knowledge.Account_Billing_Address_Zip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Knowledge</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Criteria to check if billing state is changed or not.</description>
        <name>Is_Billing_State_Changed</name>
        <label>Is Billing State Changed</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingState</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Knowledge_Articles</targetReference>
            </connector>
            <label>Has Changed</label>
        </rules>
    </decisions>
    <description>Update knowledge if State changes. Updates both State and Zip</description>
    <interviewLabel>Account-After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account-After Save</label>
    <loops>
        <description>iterate over Knowledge and populate state</description>
        <name>Iterate_Knowledge</name>
        <label>Iterate Knowledge</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_Knowledge_Articles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_State</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Knowledge</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Knowledge__kav</description>
        <name>Get_Knowledge_Articles</name>
        <label>Get Knowledge Articles</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Knowledge</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Knowledge</name>
        <label>Update Knowledge</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <inputReference>Get_Knowledge_Articles</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Billing_State_Changed</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
<apiVersion>51.0</apiVersion></Flow>
