unpackaged/main/default/flows/Address_Picker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Address_Variables</name>
        <label>Set Address Variables</label>
        <locationX>625</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>inLat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Location_Record.Geocode__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inLong</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Location_Record.Geocode__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addrCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Location_Record.City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addrState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Location_Record.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addrZip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Location_Record.Zip__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addrName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Location_Record.Facility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addrStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Location_Record.Street_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_Location_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Location_Text</name>
        <label>set Location Text</label>
        <locationX>764</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>addrFull</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaFullText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Lat_Long_Available_Already</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Lat_Long_Available_Already</name>
        <label>Is Lat/Long Available Already?</label>
        <locationX>907</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Find_Address_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inLat</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inLong</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Address_Screen_0</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>189</locationX>
        <locationY>226</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clinical_Trial_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a1G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Location_Record</targetReference>
            </connector>
            <label>Clinical Trial Location</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaFullText</name>
        <dataType>String</dataType>
        <expression>{!addrName} &amp; &apos;, &apos; &amp; {!addrStreet} &amp; &apos;, &apos; &amp; {!addrCity} &amp; &apos;, &apos; &amp; {!addrState} &amp; &apos;, &apos; &amp; {!addrZip} &amp; &apos;, USA&apos;</expression>
    </formulas>
    <formulas>
        <name>outLat</name>
        <dataType>Number</dataType>
        <expression>VALUE({!outputLatitude})</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>outLong</name>
        <dataType>Number</dataType>
        <expression>VALUE({!outputLongitude})</expression>
        <scale>8</scale>
    </formulas>
    <interviewLabel>Address Picker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address Picker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Location_Record</name>
        <label>get Location Record</label>
        <locationX>478</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Address_Variables</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Clinical_Trial_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Location_Fields_on_Clinical_Trial_Location_Record</name>
        <label>Update Location Fields on Clinical Trial Location Record</label>
        <locationX>1303</locationX>
        <locationY>233</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Geocode__Latitude__s</field>
            <value>
                <elementReference>outLat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geocode__Longitude__s</field>
            <value>
                <elementReference>outLong</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Address__c</field>
            <value>
                <elementReference>outStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Clinical_Trial_Location__c</object>
    </recordUpdates>
    <screens>
        <name>Find_Address_Screen</name>
        <label>Find Address Screen</label>
        <locationX>1184</locationX>
        <locationY>453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Location_Fields_on_Clinical_Trial_Location_Record</targetReference>
        </connector>
        <fields>
            <name>AddressPickerAutoComplete</name>
            <extensionName>DV_Flow_AP:AddressValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressFields</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCountyField</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>location</name>
                <value>
                    <elementReference>addrFull</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>outputLongitude</assignToReference>
                <name>longitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputLatitude</assignToReference>
                <name>latitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outStreet</assignToReference>
                <name>fullStreetAddress</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Find_Address_Screen_0</name>
        <label>Find Address Screen</label>
        <locationX>1180</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Location_Fields_on_Clinical_Trial_Location_Record</targetReference>
        </connector>
        <fields>
            <name>AddressPickerAutoComplete_0</name>
            <extensionName>DV_Flow_AP:AddressValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressFields</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCountyField</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>location</name>
                <value>
                    <elementReference>addrFull</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>inLat</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>inLong</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>outputLongitude</assignToReference>
                <name>longitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputLatitude</assignToReference>
                <name>latitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outStreet</assignToReference>
                <name>fullStreetAddress</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>addrCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addrFull</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addrName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addrState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addrStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addrZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inLat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inLong</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
