unpackaged/main/default/flows/Apply_For_Patient_Navigation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Clear_Errors</name>
        <label>Clear Errors</label>
        <locationX>583</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>ApplicationSourceError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherTreatmentsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientNeedsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_a_Needs_Choice_Made</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ApplicationSourceError</name>
        <label>Set ApplicationSourceError</label>
        <locationX>796</locationX>
        <locationY>1930</locationY>
        <assignmentItems>
            <assignToReference>ApplicationSourceError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_any_errors_registered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cell_Phone</name>
        <label>Set Cell Phone</label>
        <locationX>380</locationX>
        <locationY>828</locationY>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cell_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_PersonAccount.Preferred_method_of_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cell Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Account_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email</name>
        <label>Set Email</label>
        <locationX>908</locationX>
        <locationY>828</locationY>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_PersonAccount.Preferred_method_of_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Address</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Account_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Home_Phone</name>
        <label>Set Home Phone</label>
        <locationX>116</locationX>
        <locationY>828</locationY>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonHomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Home_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_PersonAccount.Preferred_method_of_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Home Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Account_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OtherTreatmentsError</name>
        <label>Set OtherTreatmentsError</label>
        <locationX>917</locationX>
        <locationY>1516</locationY>
        <assignmentItems>
            <assignToReference>OtherTreatmentsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_an_Application_Source_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PatientNeedsError</name>
        <label>Set PatientNeedsError</label>
        <locationX>909</locationX>
        <locationY>1311</locationY>
        <assignmentItems>
            <assignToReference>PatientNeedsError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Other_selected_for_Treatments_in_last_12_months_and_Other_text_given</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Phone</name>
        <label>Set Work Phone</label>
        <locationX>644</locationX>
        <locationY>828</locationY>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonOtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_PersonAccount.Preferred_method_of_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Account_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Zip_Code</name>
        <label>Set Zip Code</label>
        <locationX>786</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Preferred_Method_of_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Zip_Postal_Code</name>
        <label>Set Zip/Postal Code</label>
        <locationX>1250</locationX>
        <locationY>856</locationY>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_PersonAccount.Preferred_method_of_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Postal Mail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Account_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setup_Application_Record</name>
        <label>setup Application Record</label>
        <locationX>1614</locationX>
        <locationY>1438</locationY>
        <assignmentItems>
            <assignToReference>toCreateApplication.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toCreateApplication.Patient_Need__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Patient_Need</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toCreateApplication.How_Did_You_Hear_About_SGK_TAP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_did_you_hear_about_this_program</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toCreateApplication.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Application_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toCreateApplication.Treatment_s_received_in_the_past_12_mon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treatments_received_in_the_last_12_months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toCreateApplication.Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toCreateApplication.Other_Treatments_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>limitedOtherText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toCreateApplication.Application_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Source</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Pat_Nav_Application</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>nullChoice</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <constants>
        <name>CellPhone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cell Phone</stringValue>
        </value>
    </constants>
    <constants>
        <name>Email1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Address</stringValue>
        </value>
    </constants>
    <constants>
        <name>HomePhone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Home Phone</stringValue>
        </value>
    </constants>
    <constants>
        <name>PostalMail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Postal Mail</stringValue>
        </value>
    </constants>
    <constants>
        <name>WorkPhone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Work Phone</stringValue>
        </value>
    </constants>
    <decisions>
        <name>User_Preferred_Method_of_Contact</name>
        <label>User Preferred Method of Contact</label>
        <locationX>776</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>update_Account_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prefer_Home_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Method_of_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HomePhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Home_Phone</targetReference>
            </connector>
            <label>Prefer Home Phone</label>
        </rules>
        <rules>
            <name>Prefer_Cell_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Method_of_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CellPhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cell_Phone</targetReference>
            </connector>
            <label>Prefer Cell Phone</label>
        </rules>
        <rules>
            <name>Prefer_Work_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Method_of_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WorkPhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Phone</targetReference>
            </connector>
            <label>Prefer Work Phone</label>
        </rules>
        <rules>
            <name>Prefer_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Method_of_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email</targetReference>
            </connector>
            <label>Prefer Email</label>
        </rules>
        <rules>
            <name>Prefer_Postal_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Method_of_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PostalMail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Zip_Postal_Code</targetReference>
            </connector>
            <label>Prefer Postal Mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Needs_Choice_Made</name>
        <label>Was a Needs Choice Made?</label>
        <locationX>770</locationX>
        <locationY>1313</locationY>
        <defaultConnector>
            <targetReference>Set_PatientNeedsError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Patient_Need</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>nullChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Other_selected_for_Treatments_in_last_12_months_and_Other_text_given</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_an_Application_Source_selected</name>
        <label>Was an Application Source selected?</label>
        <locationX>790</locationX>
        <locationY>1721</locationY>
        <defaultConnector>
            <targetReference>Set_ApplicationSourceError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Application_Source</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>nullChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Were_any_errors_registered</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Other_selected_for_Treatments_in_last_12_months_and_Other_text_given</name>
        <label>Was Other selected for Treatments in last 12 months and Other text given?</label>
        <locationX>780</locationX>
        <locationY>1519</locationY>
        <defaultConnector>
            <targetReference>Was_an_Application_Source_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>formulaTreatmentsContainsOther</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Treatments_Received</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Treatments_Received</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OtherTreatmentsError</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_any_errors_registered</name>
        <label>Were any errors registered?</label>
        <locationX>1234</locationX>
        <locationY>1531</locationY>
        <defaultConnector>
            <targetReference>setup_Application_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Errors Registered</defaultConnectorLabel>
        <rules>
            <name>Yes_there_were_errors</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationSourceError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OtherTreatmentsError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PatientNeedsError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2</targetReference>
            </connector>
            <label>Yes, there were errors</label>
        </rules>
    </decisions>
    <description>A screenflow for the enrollment of a Patient into the Patient Navigation program</description>
    <dynamicChoiceSets>
        <name>InitiatingFactorsforContact</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Initiating_Factor_s_for_Contact__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistChoiceSetAppSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Application_Source__c</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistChoiceSetHowDidYouHear</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>How_Did_You_Hear_About_SGK_TAP__c</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistChoiceSetPatientNeed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Patient_Need__c</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistChoiceSetTreatments</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Treatment_s_received_in_the_past_12_mon__c</picklistField>
        <picklistObject>Application__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferredMethodofContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Preferred_method_of_contact__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Current_Picklist_Formula</name>
        <dataType>String</dataType>
        <expression>TEXT({!get_PersonAccount.Preferred_method_of_contact__c})</expression>
    </formulas>
    <formulas>
        <name>formulaTreatmentsContainsOther</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(LOWER({!Treatments_received_in_the_last_12_months}),&apos;other&apos;)</expression>
    </formulas>
    <formulas>
        <description>trims the text down to the first 100 characters allowed by the field</description>
        <name>limitedOtherText</name>
        <dataType>String</dataType>
        <expression>LEFT({!Other_Treatments_Received},100)</expression>
    </formulas>
    <interviewLabel>Apply For Patient Navigation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apply For Patient Navigation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Pat_Nav_Application</name>
        <label>create Pat Nav Application</label>
        <locationX>1522</locationX>
        <locationY>1606</locationY>
        <connector>
            <targetReference>Screen_3</targetReference>
        </connector>
        <inputReference>toCreateApplication</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Application_Record_Type</name>
        <label>get Application Record Type</label>
        <locationX>788</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PersonAccount</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient_Navigation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PersonAccount</name>
        <label>get_PersonAccount</label>
        <locationX>787</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Account_0_0</name>
        <label>update_Account</label>
        <locationX>776</locationX>
        <locationY>1044</locationY>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
        <inputReference>get_PersonAccount</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>787</locationX>
        <locationY>425</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Zip_Code</targetReference>
        </connector>
        <fields>
            <name>Screen1Message1</name>
            <fieldText>&lt;p&gt;Please select your Patient&apos;s preferred method of contact:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preferred_Method_of_Contact</name>
            <choiceReferences>PreferredMethodofContact</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Current_Picklist_Formula</elementReference>
            </defaultValue>
            <fieldText>Preferred Method of Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cell_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>get_PersonAccount.PersonMobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cell Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CellPhone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Work_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Work Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>get_PersonAccount.PersonOtherPhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>WorkPhone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Home_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Home Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>get_PersonAccount.PersonHomePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>HomePhone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>get_PersonAccount.PersonMailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>get_PersonAccount.PersonMailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>get_PersonAccount.PersonMailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>get_PersonAccount.PersonMailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>get_PersonAccount.PersonMailingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PostalMail</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>get_PersonAccount.PersonEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Email1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Zip_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_PersonAccount.PersonMailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>PostalMail</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Application Requirements</label>
        <locationX>776</locationX>
        <locationY>1164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clear_Errors</targetReference>
        </connector>
        <fields>
            <name>Screen2_Intro</name>
            <fieldText>&lt;p&gt;Tell us a little bit about the Patient and their need for Patient Navigation&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorApplicationSource</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please select an Application Source&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ApplicationSourceError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Application_Source</name>
            <choiceReferences>nullChoice</choiceReferences>
            <choiceReferences>picklistChoiceSetAppSource</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Application_Source</elementReference>
            </defaultValue>
            <fieldText>Application Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>errorPatientNeed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please select a Patient Need&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PatientNeedsError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_Need</name>
            <choiceReferences>nullChoice</choiceReferences>
            <choiceReferences>picklistChoiceSetPatientNeed</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Patient_Need</elementReference>
            </defaultValue>
            <fieldText>Patient Need</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Treatments_received_in_the_last_12_months</name>
            <choiceReferences>picklistChoiceSetTreatments</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Treatments_received_in_the_last_12_months</elementReference>
            </defaultValue>
            <fieldText>Treatments received in the last 12 months</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>errorOtherTreatment</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please identify the Other Treatments the Patient received in the last 12 months&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OtherTreatmentsError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Other_Treatments_Received</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Other_Treatments_Received</elementReference>
            </defaultValue>
            <fieldText>Other Treatments Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>How_did_you_hear_about_this_program</name>
            <choiceReferences>nullChoice</choiceReferences>
            <choiceReferences>picklistChoiceSetHowDidYouHear</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>How_did_you_hear_about_this_program</elementReference>
            </defaultValue>
            <fieldText>How did you hear about this program?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <defaultValue>
                <stringValue>{!Notes}</stringValue>
            </defaultValue>
            <fieldText>Additional Notes / Context</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>1560</locationX>
        <locationY>1781</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen3Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt;Success!  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have created an Application for {!get_PersonAccount.FirstName} to join Patient Navigation.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!toCreateApplication.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click here&lt;/a&gt; to see the Application, or Finish to return to what you were doing.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>662</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Application_Record_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ApplicationSourceError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OtherTreatmentsError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PatientNeedsError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toCreateApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to merge Queue and User Name to present on the final screen</description>
        <name>var_OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
