unpackaged/main/default/flows/CarePlan_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_CaseTeamMember_as_Case_Owner</name>
        <label>Set CaseTeamMember as Case Owner</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CaseTeamMemberUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Care_Case_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CaseTeamMember_as_Navigator</name>
        <label>Set CaseTeamMember as Navigator</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CaseTeamMemberUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Care_Program_Enrollee__r.Patient_Navigator__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Care_Case_Team_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Patient_In_Navigation</name>
        <label>Is Patient In Navigation?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Set_CaseTeamMember_as_Case_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.In_Patient_Navigation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CaseTeamMember_as_Navigator</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Automatically adds a CaseTeamMember to the Plan</description>
    <interviewLabel>CarePlan After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CarePlan After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Care_Case_Team_Member</name>
        <label>Care Case Team Member</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>CaseTeamMemberUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>Get_CaseTeamMemberRoleId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CaseTeamMemberRoleId</name>
        <label>Get CaseTeamMemberRoleId</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Patient_In_Navigation</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Care Coordinator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CaseTeamMemberRoleId</targetReference>
        </connector>
        <filters>
            <field>Is_Care_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseTeamMemberUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
