unpackaged/main/default/flows/Care_Program_Enrollee_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_End_Date</name>
        <label>Assign End Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollee_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables</name>
        <label>Set Variables</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>varCountOfCareProgramEnrollees</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Active_Enrollees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_the_navigation_been_updated_to_inactive</name>
        <label>Has the navigation been updated to inactive?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Update_Patient_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_updated_to_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_End_Date</targetReference>
            </connector>
            <label>yes, updated to inactive</label>
        </rules>
    </decisions>
    <interviewLabel>Care Program Enrollee After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Care Program Enrollee After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Enrollees</name>
        <label>Get Active Enrollees</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Variables</targetReference>
        </connector>
        <filters>
            <field>Patient_Navigator__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Navigator__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_to_remove_Enrollee_lookup</name>
        <label>Update Account to remove Enrollee lookup</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Get_Active_Enrollees</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Care_Program_Enrollee__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enrollee_record</name>
        <label>Update Enrollee record</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Update_Account_to_remove_Enrollee_lookup</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Account</name>
        <label>Update Patient Account</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Active_Enrollees</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Care_Program_Enrollee__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Patient_Navigator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Patient_Count__c</field>
            <value>
                <elementReference>varCountOfCareProgramEnrollees</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_the_navigation_been_updated_to_inactive</targetReference>
        </connector>
        <filters>
            <field>Patient_Navigator__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CareProgramEnrollee</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCountOfCareProgramEnrollees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
