unpackaged/main/default/flows/Case_AccountId_Related_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>set_Keywords</name>
        <label>set_Keywords</label>
        <locationX>264</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>$Record.Keywords__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loop_conditions.Condition_Name__c}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Keywords0</name>
        <label>set_Keywords</label>
        <locationX>264</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Keywords__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loop_CarePlans.Subject}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_CarePlans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Keywords2</name>
        <label>set_Keywords</label>
        <locationX>264</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>$Record.Keywords__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loop_medications.Medication__c}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Keywords3</name>
        <label>set_Keywords</label>
        <locationX>264</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>$Record.Keywords__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loop_procedures.Procedure_Type__c}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_procedures</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Keywords4</name>
        <label>set_Keywords</label>
        <locationX>264</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>$Record.Keywords__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loop_allergies.Allergen_Name__c}, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_allergies</targetReference>
        </connector>
    </assignments>
    <description>If a Case&apos;s AccountId is set or changed, query all of the account related Conditions, Procedures, Demographic Data and saves as text to Knowledge Keywords on Case</description>
    <interviewLabel>Case - AccountId Related - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - AccountId Related - Before Save</label>
    <loops>
        <name>loop_allergies</name>
        <label>loop_allergies</label>
        <locationX>176</locationX>
        <locationY>2375</locationY>
        <collectionReference>get_allergies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_Keywords4</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loop_CarePlans</name>
        <label>loop_CarePlans</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <collectionReference>get_CarePlans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_Keywords0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_conditions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_conditions</name>
        <label>loop_conditions</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <collectionReference>get_conditons</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_Keywords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_medications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_medications</name>
        <label>loop_medications</label>
        <locationX>176</locationX>
        <locationY>1703</locationY>
        <collectionReference>get_medications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_Keywords2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_procedures</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_procedures</name>
        <label>loop_procedures</label>
        <locationX>176</locationX>
        <locationY>2039</locationY>
        <collectionReference>get_procedures</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_Keywords3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_allergies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_allergies</name>
        <label>get_allergies</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_CarePlans</targetReference>
        </connector>
        <filters>
            <field>HealthCloudGA__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthCloudGA__EhrAllergyIntolerance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CarePlan_RT</name>
        <label>get_CarePlan_RT</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_CarePlans</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CarePlan</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CarePlans</name>
        <label>get_CarePlans</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_conditons</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CarePlan_RT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_conditons</name>
        <label>get_conditons</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_medications</targetReference>
        </connector>
        <filters>
            <field>HealthCloudGA__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthCloudGA__EhrCondition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_medications</name>
        <label>get_medications</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_procedures</targetReference>
        </connector>
        <filters>
            <field>HealthCloudGA__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthCloudGA__EhrMedicationStatement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_procedures</name>
        <label>get_procedures</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_allergies</targetReference>
        </connector>
        <filters>
            <field>HealthCloudGA__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthCloudGA__EHRProcedure__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_CarePlan_RT</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
