unpackaged/main/default/flows/Case_After_Insert_Create_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_14_day_Survey_Feedback_To_List</name>
        <label>Add 14 day Survey Feedback To List</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varSuveyFeedbacks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSurveyFeedback14Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQualtricsSurveyLink</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Immediate_Survey_Feedback_To_List</name>
        <label>Add Immediate Survey Feedback To List</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varSuveyFeedbacks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSurveyFeedbackImmediate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQualtricsSurveyLink</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Komen Survey Feedback to be sent after 14 days</description>
        <name>Set_14_Days_Komen_Survey_Values_0</name>
        <label>Set 14 Days Komen Survey Values</label>
        <locationX>402</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>varSurveyFeedback14Days.Object_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyFeedback14Days.Date_to_Send__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSendDate14Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyFeedback14Days.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyFeedback14Days.Survey_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCase14DaysSurvey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyFeedback14Days.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!varCase14DaysSurvey.Name} for {!$Record.Account.FirstName} {!$Record.Account.LastName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_14_day_Survey_Feedback_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment to populate Komen Survey Feedback- Send Immediate</description>
        <name>Set_Send_Immediate_Komen_Survey_Values_0</name>
        <label>Set Send Immediate-Komen Survey Values</label>
        <locationX>138</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>varSurveyFeedbackImmediate.Object_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyFeedbackImmediate.Send_Immediately__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyFeedbackImmediate.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyFeedbackImmediate.Survey_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseImmediateSurvey.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyFeedbackImmediate.Date_to_Send__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyFeedbackImmediate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!varCaseImmediateSurvey.Name} for {!$Record.Account.FirstName} {!$Record.Account.LastName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Immediate_Survey_Feedback_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Survey_Case_14_Days</name>
        <label>Set Survey Case 14 Days</label>
        <locationX>402</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>varCase14DaysSurvey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQualtricsSurveyLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_14_Days_Komen_Survey_Values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Survey_Case_Immediate</name>
        <label>Survey-Case Immediate</label>
        <locationX>138</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>varCaseImmediateSurvey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopQualtricsSurveyLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Send_Immediate_Komen_Survey_Values_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Type_Contain_Helpline</name>
        <label>Does Type Contain Helpline?</label>
        <locationX>622</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>loopQualtricsSurveyLink</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Helpline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyTypeIncludesHelpline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_Survey_by_Name</targetReference>
            </connector>
            <label>Contains Helpline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Survey_by_Name</name>
        <label>Group Survey by Name</label>
        <locationX>402</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>loopQualtricsSurveyLink</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Immediate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopQualtricsSurveyLink.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Komen Helpline Satisfaction Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Case_Immediate</targetReference>
            </connector>
            <label>Case_Immediate</label>
        </rules>
        <rules>
            <name>Case_14_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopQualtricsSurveyLink.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Komen Helpline Outcomes Survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Survey_Case_14_Days</targetReference>
            </connector>
            <label>Case_14_Days</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate if case record is valid for Komen survey creation.</description>
        <name>Validate_Record</name>
        <label>Validate Record</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Valid_Record</name>
            <conditionLogic>(1 AND (2 OR 3 OR 4 OR 5 OR 6)) OR (7 AND 8 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Helpline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mission Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pat Nav Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAP Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S/D Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Case_Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Helpline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Owner_Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Helpline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Helpline_Queue_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Qualtrics_Surveys</targetReference>
            </connector>
            <label>Is Valid Record</label>
        </rules>
    </decisions>
    <description>Triggered flow to create Komen Survey Feedback</description>
    <formulas>
        <name>SurveyTypeIncludesHelpline</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!loopQualtricsSurveyLink.Survey_Type__c},&apos;Helpline&apos;)</expression>
    </formulas>
    <formulas>
        <description>send survey 14 days from now</description>
        <name>varSendDate14Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <interviewLabel>Case After Insert-Create Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Insert-Create Survey</label>
    <loops>
        <name>loopQualtricsSurveyLink</name>
        <label>loopQualtricsSurveyLink</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <collectionReference>Get_Qualtrics_Surveys</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Type_Contain_Helpline</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Komen_Survey_Feedback</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Komen_Survey_Feedback</name>
        <label>Create Komen Survey Feedback</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <inputReference>varSuveyFeedbacks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Helpline_Queue_Id</name>
        <label>Get Helpline Queue Id</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Record</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Helpline</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Qualtrics Surveys</description>
        <name>Get_Qualtrics_Surveys</name>
        <label>Get Qualtrics Surveys</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopQualtricsSurveyLink</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Qualtrics_Survey_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Helpline_Queue_Id</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCase14DaysSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Qualtrics_Survey_Link__c</objectType>
    </variables>
    <variables>
        <name>varCaseImmediateSurvey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Qualtrics_Survey_Link__c</objectType>
    </variables>
    <variables>
        <description>Survey Feedback to be sent after 14 days</description>
        <name>varSurveyFeedback14Days</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Komen_Survey_Feedback__c</objectType>
    </variables>
    <variables>
        <name>varSurveyFeedbackImmediate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Komen_Survey_Feedback__c</objectType>
    </variables>
    <variables>
        <description>List of survey feedbacks</description>
        <name>varSuveyFeedbacks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Komen_Survey_Feedback__c</objectType>
    </variables>
</Flow>
