unpackaged/main/default/flows/CaseArticle_to_Referral_Record_Scheduled_Flow_1PM_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>collReferralsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempReferralRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CaseArticles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_Referral_Record</name>
        <label>Setup Referral Record</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>tempReferralRecord.Knowledge_Article_Referred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CaseArticles.KnowledgeArticleVersionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempReferralRecord.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CaseArticles.Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempReferralRecord.Referred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempReferralRecord.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CaseArticles.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_Referral_Already_Exist</name>
        <label>Does the Referral Already Exist?</label>
        <locationX>396</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Loop_CaseArticles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Referral_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Setup_Referral_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaAnHourAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-(1/24)</expression>
    </formulas>
    <formulas>
        <name>formulaReferralKey</name>
        <dataType>String</dataType>
        <expression>{!Loop_CaseArticles.KnowledgeArticleId}+{!Loop_CaseArticles.Case.AccountId}</expression>
    </formulas>
    <interviewLabel>CaseArticle to Referral Record Scheduled Flow 1PM v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseArticle to Referral Record Scheduled Flow 1PM v2</label>
    <loops>
        <name>Loop_CaseArticles</name>
        <label>Loop CaseArticles</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Case_Articles_from_last_hour</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Existing_Referral_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_Referral_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Referral_Records</name>
        <label>create Referral Records</label>
        <locationX>176</locationX>
        <locationY>1188</locationY>
        <inputReference>collReferralsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Articles_from_last_hour</name>
        <label>Get Case Articles from last hour</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CaseArticles</targetReference>
        </connector>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>formulaAnHourAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseArticle</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Referral_Record</name>
        <label>Get Existing Referral Record</label>
        <locationX>396</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Referral_Already_Exist</targetReference>
        </connector>
        <filters>
            <field>Referral_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaReferralKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Articles_from_last_hour</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-04-24</startDate>
            <startTime>13:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collReferralsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral_Record__c</objectType>
    </variables>
    <variables>
        <name>tempReferralRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral_Record__c</objectType>
    </variables>
</Flow>
