unpackaged/main/default/flows/Case_Topic_Assignment_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Keyword_List</name>
        <label>Add to Keyword List</label>
        <locationX>264</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>varKeywordList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_through_Topic_Assignments.Topic.Name} |</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Topic_Assignments</targetReference>
        </connector>
    </assignments>
    <description>Triggers on create of Topic Assignment, concatenates Topics into Keyword Long Text field</description>
    <interviewLabel>Case Topic Assignment After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Topic Assignment After Save Flow</label>
    <loops>
        <name>Loop_through_Topic_Assignments</name>
        <label>Loop through Topic Assignments</label>
        <locationX>176</locationX>
        <locationY>373</locationY>
        <collectionReference>Get_All_Topic_Assignments_for_Object</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Keyword_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Object_Initial_Topic_Assignment_is_related_to</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Topic_Assignments_for_Object</name>
        <label>Get All Topic Assignments for Object</label>
        <locationX>176</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Topic_Assignments</targetReference>
        </connector>
        <filters>
            <field>EntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EntityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TopicAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Object_Initial_Topic_Assignment_is_related_to</name>
        <label>Update Object Initial Topic Assignment is related to</label>
        <locationX>176</locationX>
        <locationY>709</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EntityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Keywords__c</field>
            <value>
                <elementReference>varKeywordList</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Topic_Assignments_for_Object</targetReference>
        </connector>
        <filters>
            <field>EntityType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>TopicAssignment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varKeywordList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
