unpackaged/main/default/flows/Case_Refer_to_Pat_Nav.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>set_Account</name>
        <label>set_Account</label>
        <locationX>1238</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>get_PersonAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Case</name>
        <label>set_Case</label>
        <locationX>1238</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>get_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CareProgramEnrolees.Patient_Navigator__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Case.Preferred_Method_of_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Method_of_Contact_PN.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Case.Referral_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Referral_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_OwnerName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_CaseIDBlank</name>
        <label>set_CaseIDBlank</label>
        <locationX>1106</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>get_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Referred: {!get_Case.Subject}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Case.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cell_Phone</name>
        <label>Set Cell Phone</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cell_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email</name>
        <label>Set Email</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Home_Phone</name>
        <label>Set Home Phone</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonHomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Home_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_OwnerName</name>
        <label>set_OwnerName</label>
        <locationX>1238</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>var_OwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CareProgramEnrolees.Patient_Navigator_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Account_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Phone</name>
        <label>Set Work Phone</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonOtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Zip_Postal_Code</name>
        <label>Set Zip/Postal Code</label>
        <locationX>1634</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_PersonAccount.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_Account</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CellPhone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cell Phone</stringValue>
        </value>
    </constants>
    <constants>
        <name>Email1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Address</stringValue>
        </value>
    </constants>
    <constants>
        <name>HomePhone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Home Phone</stringValue>
        </value>
    </constants>
    <constants>
        <name>PostalMail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Postal Mail</stringValue>
        </value>
    </constants>
    <constants>
        <name>WorkPhone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Work Phone</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_already_is_assigned_existing_pat_nav</name>
        <label>Case already is assigned existing pat nav?</label>
        <locationX>985</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Existing_Pat_Nav_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Pat_Nav_already_assigned_to_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Case.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_CareProgramEnrolees.Patient_Navigator__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_already_has_pat_nav_assigned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Case_Closed</name>
        <label>Current_Case_Closed?</label>
        <locationX>1238</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>update_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_CaseIDBlank</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Patient Person Account is already associated to a Pat Nav (via the Care Program Enrolee table) assign the case to them rather than the queue.</description>
        <name>Existing_Pat_Nav_Found</name>
        <label>Existing Pat Nav Found?</label>
        <locationX>1656</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Refer_to_Pat_Nav_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_CareProgramEnrolees.CareProgramId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refer_to_Pat_Nav</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_case_type_helpline_call_log</name>
        <label>Is case type helpline call log?</label>
        <locationX>517</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>get_PersonAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Case_is_not_type_helpline_call_log</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Case.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Helpline Call Log</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_is_not_record_type_helpline_call_log</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Preferred_Method_of_Contact</name>
        <label>User Preferred Method of Contact</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>set_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prefer_Home_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HomePhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Home_Phone</targetReference>
            </connector>
            <label>Prefer Home Phone</label>
        </rules>
        <rules>
            <name>Prefer_Cell_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CellPhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cell_Phone</targetReference>
            </connector>
            <label>Prefer Cell Phone</label>
        </rules>
        <rules>
            <name>Prefer_Work_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WorkPhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Phone</targetReference>
            </connector>
            <label>Prefer Work Phone</label>
        </rules>
        <rules>
            <name>Prefer_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email</targetReference>
            </connector>
            <label>Prefer Email</label>
        </rules>
        <rules>
            <name>Prefer_Postal_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PostalMail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Zip_Postal_Code</targetReference>
            </connector>
            <label>Prefer Postal Mail</label>
        </rules>
    </decisions>
    <description>Supports a Button on the Case page layout that allows a Case to be referred to the patient&apos;s existing Patient Navigator or to the Patient Navigator Queue</description>
    <dynamicChoiceSets>
        <name>InitiatingFactorsforContact</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Initiating_Factor_s_for_Contact__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferredMethodofContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Preferred_method_of_contact__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Current_Picklist_Formula</name>
        <dataType>String</dataType>
        <expression>TEXT({!get_PersonAccount.Preferred_method_of_contact__c})</expression>
    </formulas>
    <interviewLabel>Case Refer to Pat Nav {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Refer to Pat Nav</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Case</name>
        <label>create_Case</label>
        <locationX>1106</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Referral_Complete</targetReference>
        </connector>
        <inputReference>get_Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_CareProgramEnrolees</name>
        <label>get_CareProgramEnrolees</label>
        <locationX>985</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_already_is_assigned_existing_pat_nav</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Case</name>
        <label>get_Case</label>
        <locationX>517</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_case_type_helpline_call_log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PersonAccount</name>
        <label>get_PersonAccount</label>
        <locationX>985</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_CareProgramEnrolees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Account_0_0</name>
        <label>update_Account</label>
        <locationX>1238</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Current_Case_Closed</targetReference>
        </connector>
        <inputReference>get_PersonAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Case_0</name>
        <label>update_Case</label>
        <locationX>1370</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>Referral_Complete</targetReference>
        </connector>
        <inputReference>get_Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_already_has_pat_nav_assigned</name>
        <label>Case already has pat nav assigned</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Case_already_has_pat_nav_assigned_text</name>
            <fieldText>&lt;p&gt;This case already has a patient navigator assigned to it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_is_not_record_type_helpline_call_log</name>
        <label>Case is not record type helpline call log</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Case_not_helpline_call_log_text</name>
            <fieldText>&lt;p&gt;Case must be of type &quot;Helpline Call Log&quot; to be able to be referred.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Refer_to_Pat_Nav</name>
        <label>Refer to Pat Nav</label>
        <locationX>1238</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Preferred_Method_of_Contact</targetReference>
        </connector>
        <fields>
            <name>Referral_Destination</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: 14px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;You are referring this Case to: Patient Navigator  - &lt;/b&gt;&lt;b style=&quot;color: rgb(160, 3, 84); font-size: 14px;&quot;&gt;{!get_CareProgramEnrolees.Patient_Navigator_Name__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: 14px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;Please select a preferred method of contact before completing the referral.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preferred_Method_of_Contact_PN</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Preferred_method_of_contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>start</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageSize</name>
                <value>
                    <stringValue>x-small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Current_Picklist_Formula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>x-small</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Cell_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>get_PersonAccount.PersonMobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cell Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CellPhone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Work_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Work Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>get_PersonAccount.PersonOtherPhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>WorkPhone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Home_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Home Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>get_PersonAccount.PersonHomePhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>HomePhone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>get_PersonAccount.PersonMailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>get_PersonAccount.PersonMailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>get_PersonAccount.PersonMailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>get_PersonAccount.PersonMailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>get_PersonAccount.PersonMailingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PostalMail</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>get_PersonAccount.PersonEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Email1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_Notes</name>
            <defaultValue>
                <stringValue>{!get_Case.Referral_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Referral Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Refer_to_Pat_Nav_0</name>
        <label>Refer to Pat Nav</label>
        <locationX>2074</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Referral_Destination_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;This Patient does not have a Patient Navigator assigned.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Referral_Complete</name>
        <label>Referral Complete</label>
        <locationX>1238</locationX>
        <locationY>2270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ReferralComplete</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(56, 189, 0); font-size: 14px;&quot;&gt;Referral Complete!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;New Case Owner: &lt;/b&gt;{!var_OwnerName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Preferred Method of Contact: &lt;/b&gt;{!get_Case.Preferred_Method_of_Contact__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preferred_Cell_Phone</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Cell phone: &lt;/b&gt;{!get_PersonAccount.PersonMobilePhone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CellPhone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Preferred_Work_Phone</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Work Phone: &lt;/b&gt;{!get_PersonAccount.PersonOtherPhone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>WorkPhone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Preferred_Email</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Email: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!get_PersonAccount.PersonEmail}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Email1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Preferred_Home_Phone</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Home Phone: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!get_PersonAccount.PersonHomePhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>HomePhone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Preferred_Postal_Mail</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Address: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!get_PersonAccount.PersonMailingStreet}&lt;/p&gt;&lt;p&gt;{!get_PersonAccount.PersonMailingCity} {!get_PersonAccount.PersonMailingStateCode} {!get_PersonAccount.PersonMailingPostalCode}&lt;/p&gt;&lt;p&gt;{!get_PersonAccount.PersonMailingCountry}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Preferred_Method_of_Contact_PN.selectedValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PostalMail</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Referral_Notes_Complete</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Referral Notes: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!get_Case.Referral_Notes__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>391</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to merge Queue and User Name to present on the final screen</description>
        <name>var_OwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
