unpackaged/main/default/flows/Case_Handle_Time_Log_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_Close_Log</name>
        <label>assign_Close_Log</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>get_Open_Case_Handle_Time_Logs.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Case.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Open_Case_Handle_Time_Logs.Handle_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_HandleTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Open_Case_Handle_Time_Logs.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Close_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_New_Case_Log_0</name>
        <label>assign_New_Case_Log</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>get_Open_Case_Handle_Time_Logs.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Case.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Open_Case_Handle_Time_Logs.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Open_Case_Handle_Time_Logs.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Case_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_New_Case_Log_0_0</name>
        <label>assign_New_Case_Log</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>get_Open_Case_Handle_Time_Logs.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Case.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Open_Case_Handle_Time_Logs.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Open_Case_Handle_Time_Logs.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Open_Case_Handle_Time_Logs.Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_QueueName.Queue.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Open_Case_Handle_Time_Logs.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Case_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_the_Owner_a_User_or_a_Queue</name>
        <label>Is the Owner a User or a Queue?</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>get_QueueName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Case.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_New_Case_Log_0</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Log_Found</name>
        <label>Open Log Found?</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Is_the_Owner_a_User_or_a_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Open_Case_Handle_Time_Logs.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Close_Log</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_HandleTime</name>
        <dataType>Number</dataType>
        <expression>{!get_Open_Case_Handle_Time_Logs.Case__r.LastModifiedDate}-{!get_Open_Case_Handle_Time_Logs.Start_Time__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Case Handle Time Log FLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Handle Time Log Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Case_Log</name>
        <label>create_Case_Log</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <inputReference>get_Open_Case_Handle_Time_Logs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Case</name>
        <label>get_Case</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Open_Case_Handle_Time_Logs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Open_Case_Handle_Time_Logs</name>
        <label>get_Open_Case_Handle_Time_Logs</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Log_Found</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Handle_Time_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_QueueName</name>
        <label>get_QueueName</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_New_Case_Log_0_0</targetReference>
        </connector>
        <filters>
            <field>QueueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QueueSobject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Close_Log</name>
        <label>update_Close_Log</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputReference>get_Open_Case_Handle_Time_Logs</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Case</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
