unpackaged/main/default/flows/Case_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>set_CHTL_Agent</name>
        <label>set_CHTL_Agent</label>
        <locationX>457</locationX>
        <locationY>2015</locationY>
        <assignmentItems>
            <assignToReference>New_CaseHandleTimeLog.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_CaseHandleTimeLog.Owner_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_NewCaseHandleTimeLog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_CHTL_QueueName</name>
        <label>set_CHTL_QueueName</label>
        <locationX>721</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>New_CaseHandleTimeLog.Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_QueueName.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_CaseHandleTimeLog.Owner_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_QueueName.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_NewCaseHandleTimeLog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_EndTime</name>
        <label>set_EndTime</label>
        <locationX>457</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>get_OpenCaseHandleTimeLog.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_End_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_NewCaseHandleTimeLog</name>
        <label>set_NewCaseHandleTimeLog</label>
        <locationX>589</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>New_CaseHandleTimeLog.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_CaseHandleTimeLog.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_NewCaseHandleTimeLog</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Owner_A_Queue_Or_User</name>
        <label>Case_Owner_A_Queue_Or_User?</label>
        <locationX>589</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>get_QueueName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_CHTL_Agent</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_HandleTimeLogFound</name>
        <label>Existing_HandleTimeLogFound</label>
        <locationX>589</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Case_Owner_A_Queue_Or_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_OpenCaseHandleTimeLog</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_EndTime</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNew</name>
        <label>IsNew</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>get_OpenCaseHandleTimeLog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Record_Type_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordStatus</name>
        <label>RecordStatus</label>
        <locationX>589</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNewOrAssigned</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsNew</targetReference>
            </connector>
            <label>IsNewOrAssigned</label>
        </rules>
        <rules>
            <name>IsClosed</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Lost to Follow-Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Number/SPAM/Hang Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operations Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mission Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_OpenCaseHandleTimeLog</targetReference>
            </connector>
            <label>IsClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Record_Type_0</name>
        <label>Which Record Type?</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>get_OpenCaseHandleTimeLog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Knowledge_Resource_RT_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Knowledge_Resource</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_CaseKnowledgeResourceRT</targetReference>
            </connector>
            <label>Knowledge Resource RT</label>
        </rules>
    </decisions>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Case After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_NewCaseHandleTimeLog</name>
        <label>create_NewCaseHandleTimeLog</label>
        <locationX>589</locationX>
        <locationY>2471</locationY>
        <inputReference>New_CaseHandleTimeLog</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_CaseKnowledgeResourceRT</name>
        <label>get_CaseKnowledgeResourceRT</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_KnowledgeResourceQueueID</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Knowledge_Resource</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_KnowledgeResourceQueueID</name>
        <label>get_KnowledgeResourceQueueID</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Case</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Knowledge_Resource</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_OpenCaseHandleTimeLog</name>
        <label>get_OpenCaseHandleTimeLog</label>
        <locationX>589</locationX>
        <locationY>1319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_HandleTimeLogFound</targetReference>
        </connector>
        <filters>
            <field>End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Handle_Time_Log__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_QueueName</name>
        <label>get_QueueName</label>
        <locationX>721</locationX>
        <locationY>2015</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_CHTL_QueueName</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Case</name>
        <label>update_Case</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>get_OpenCaseHandleTimeLog</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_KnowledgeResourceQueueID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_End_Time</name>
        <label>update_End_Time</label>
        <locationX>457</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Case_Owner_A_Queue_Or_User</targetReference>
        </connector>
        <inputReference>get_OpenCaseHandleTimeLog</inputReference>
    </recordUpdates>
    <start>
        <locationX>463</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordStatus</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>New_CaseHandleTimeLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Handle_Time_Log__c</objectType>
    </variables>
</Flow>
