unpackaged/main/default/flows/Case_Topic_Assignment_After_Delete_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendNotification</name>
        <label>SendNotification</label>
        <locationX>448</locationX>
        <locationY>564</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML2f0000008OmyGAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Keyword list: {!varKeywordList}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>KeyWord List from Topic Assignment Delete notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ListOfNotificationRecipients</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Topic_Name_to_Keyword_List_0</name>
        <label>Add Topic Name to Keyword List</label>
        <locationX>864</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>varKeywordList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_through_Topic_Assignments.Topic.Name} |</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Topic_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Ids_to_Notification_Recipients_List</name>
        <label>Add User Ids to Notification Recipients List</label>
        <locationX>448</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>ListOfNotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0052f000001EUnVAAW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendNotification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_the_Topic_the_one_being_deleted</name>
        <label>Is the Topic the one being deleted?</label>
        <locationX>996</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Topic_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, we lose this one</defaultConnectorLabel>
        <rules>
            <name>No_we_keep_this_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Topic_Assignments.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Topic_Name_to_Keyword_List_0</targetReference>
            </connector>
            <label>No, we keep this one</label>
        </rules>
    </decisions>
    <interviewLabel>Case Topic Assignment After Delete Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Topic Assignment After Delete Flow</label>
    <loops>
        <name>Loop_through_Topic_Assignments</name>
        <label>Loop through Topic Assignments</label>
        <locationX>776</locationX>
        <locationY>421</locationY>
        <collectionReference>Get_All_Topic_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_Topic_the_one_being_deleted</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Topic_Assignments</name>
        <label>Get All Topic Assignments</label>
        <locationX>776</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Topic_Assignments</targetReference>
        </connector>
        <filters>
            <field>EntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TopicAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Object_Initial_Topic_Assignment</name>
        <label>Update Object Initial Topic Assignment</label>
        <locationX>448</locationX>
        <locationY>684</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EntityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Keywords__c</field>
            <value>
                <elementReference>varKeywordList</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Add_User_Ids_to_Notification_Recipients_List</targetReference>
        </connector>
        <object>TopicAssignment</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ListOfNotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0052f000001EUnVAAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>varKeywordList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
