unpackaged/main/default/flows/Condition_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Code_Values_on_Condition_record</name>
        <label>Set Code Values on Condition record</label>
        <locationX>784</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>$Record.Condition_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NLM_Condition_Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HealthCloudGA__Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_NLM_Condition_Record.MeSH_ID__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_an_NLM_Condition_been_entered</name>
        <label>Has an NLM Condition been entered?</label>
        <locationX>426</locationX>
        <locationY>138</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NLM_Condition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_NLM_Condition_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Condition Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Condition Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_NLM_Condition_Record</name>
        <label>get NLM Condition Record</label>
        <locationX>626</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Code_Values_on_Condition_record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NLM_Condition__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NLM_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Has_an_NLM_Condition_been_entered</targetReference>
        </connector>
        <object>HealthCloudGA__EhrCondition__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
