unpackaged/main/default/flows/Contact_Contact_Relationship_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Contact_from_Provider</name>
        <label>Set Contact from Provider</label>
        <locationX>912</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>$Record.HealthCloudGA__RelatedContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provider__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Did_Provider_change</name>
        <label>Did Provider change?</label>
        <locationX>677</locationX>
        <locationY>361</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Provider__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_Original_Contact_Contact_Relationship_Record.Provider__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_from_Provider</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Field_Empty</name>
        <label>Is Contact Field Empty?</label>
        <locationX>676</locationX>
        <locationY>150</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_but_Provider_is_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HealthCloudGA__RelatedContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Provider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_from_Provider</targetReference>
            </connector>
            <label>Yes, but Provider is not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_new_or_updated_record</name>
        <label>Is this a new or updated record?</label>
        <locationX>485</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>get_Original_Contact_Contact_Relationship_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated Record</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Contact_Field_Empty</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <interviewLabel>Contact-Contact Relationship Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact-Contact Relationship Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Original_Contact_Contact_Relationship_Record</name>
        <label>get Original Contact-Contact Relationship Record</label>
        <locationX>493</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_Provider_change</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthCloudGA__ContactContactRelation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>66</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Is_this_a_new_or_updated_record</targetReference>
        </connector>
        <object>HealthCloudGA__ContactContactRelation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
