unpackaged/main/default/flows/Encounter_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Populate data in task fields</description>
        <name>assignTaskFields</name>
        <label>assignTaskFields</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varFollowUpTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HealthCloudGA__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowUpTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetFollowUpRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowUpTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowUpTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowUpTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowUpTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Appointment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFollowUpTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HealthCloudGA__Account__r.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateFollowUpTask</targetReference>
        </connector>
    </assignments>
    <description>Flow to create follow up task</description>
    <formulas>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Appointment with &quot; &amp; {!GetAccountRecord.Name}</expression>
    </formulas>
    <interviewLabel>Encounter-After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Encounter-After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateFollowUpTask</name>
        <label>CreateFollowUpTask</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputReference>varFollowUpTask</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Account Record for name</description>
        <name>GetAccountRecord</name>
        <label>GetAccountRecord</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTaskFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HealthCloudGA__Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Follow-Up Record Type Id</description>
        <name>GetFollowUpRecordType</name>
        <label>GetFollowUpRecordType</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow_Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetFollowUpRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Appointment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient Navigation</stringValue>
            </value>
        </filters>
        <object>HealthCloudGA__EhrEncounter__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Follow Up task</description>
        <name>varFollowUpTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
