unpackaged/main/default/flows/End_of_Patient_Navigation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>End_Patient_Navigation</name>
        <label>End Patient Navigation</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_Sure_you_want_to_end_Patient_Navigation_for_this_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Care_Program_Enrollee</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <interviewLabel>End of Patient Navigation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>End of Patient Navigation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Komen_Survey_Feedback</name>
        <label>Create Komen Survey Feedback</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Post Navigation Surey</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_ID__c</field>
            <value>
                <elementReference>getCareProgramEnrolee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>getCareProgramEnrolee.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Immediately__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Reference__c</field>
            <value>
                <elementReference>Get_Survey_Reference.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Komen_Survey_Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Survey_Reference</name>
        <label>Get Survey Reference</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Komen_Survey_Feedback</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Navigation survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Qualtrics_Survey_Link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCareProgramEnrolee</name>
        <label>getCareProgramEnrolee</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Care_Program_Enrollee</name>
        <label>Update Care Program Enrollee</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Survey_Reference</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCareProgramEnrolee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>CareProgramEnrollee</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>ConfirmationScreen</name>
        <label>ConfirmationScreen</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>End_Patient_Navigation</targetReference>
        </connector>
        <fields>
            <name>ConfirmationChecks</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Before closing Patient Navigation please check below checkpoints:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Have you closed or transferred all cases for this patient?&lt;/li&gt;&lt;li&gt;Have you closed, completed, or deleted all tasks for this patient?&lt;/li&gt;&lt;li&gt;Have you made all final notes on this patient&apos;s account?&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Are_you_Sure_you_want_to_end_Patient_Navigation_for_this_record</name>
            <dataType>Boolean</dataType>
            <fieldText>Are you sure you want to end Patient Navigation for this record?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCareProgramEnrolee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
