unpackaged/main/default/flows/Family_Medical_History_Quick_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>set_FamilyMedicalHistory_0</name>
        <label>set_FamilyMedicalHistory</label>
        <locationX>568</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistory.Family_Member_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Family_Member_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistory.Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistory.Related_through_family_member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_Through_Family_Member</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistory.Estimated_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimate_Age</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistory.Is_this_person_living__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_Person_Living</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistory.Are_They_Ashkenazi_Jewish__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_person_Ashkenazi_Jewish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistory.Adopted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_This_Person_Adopted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistory.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistory.Race_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Race_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistory.Ethnicity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ethnicity2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistory.Was_this_person_born_a_twin_multiple__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Twin2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistory.Estimated_Age_at_Death__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Age_At_Death</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_FamilyMedicalHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_FamilyMedicalHistoryCondition</name>
        <label>set_FamilyMedicalHistoryCondition</label>
        <locationX>568</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistoryCondition.Condition_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Condition_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistoryCondition.Condition_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConditionCategories.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistoryCondition.Condition_Sub_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConditionCategories.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistoryCondition.Age_at_diagnosis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Age_At_Diagnosis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_FamilyMedicalHistoryCondition.Family_Medical_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>obj_FamilyMedicalHistory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_FamilyMedicalHistoryCondition</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_Another</name>
        <label>Add Another?</label>
        <locationX>876</locationX>
        <locationY>962</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Another_Condition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Family_Member_Condition</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates a Family_Medical_History__c record and one or many Family_Medical_History_Condition__c records</description>
    <dynamicChoiceSets>
        <name>AgeAtDiagnosis</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Age_at_diagnosis__c</picklistField>
        <picklistObject>Family_Medical_History_Condition__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConditionCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_Category__c</picklistField>
        <picklistObject>Family_Medical_History_Condition__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConditionSubCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Condition_Sub_Category__c</picklistField>
        <picklistObject>Family_Medical_History_Condition__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EstimatedAge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estimated_Age__c</picklistField>
        <picklistObject>Patient_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EstimatedAgeAtDeath</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estimated_Age_at_Death__c</picklistField>
        <picklistObject>Patient_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ethnicity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ethnicity__c</picklistField>
        <picklistObject>Patient_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Race_Picklist_Set</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Race_Picklist__c</picklistField>
        <picklistObject>Patient_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelatedThroughFamilyMember</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Related_through_family_member__c</picklistField>
        <picklistObject>Patient_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Relationship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship__c</picklistField>
        <picklistObject>Patient_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Twin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Was_this_person_born_a_twin_multiple__c</picklistField>
        <picklistObject>Patient_Contact__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Family Medical History Quick Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Family Medical History Quick Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_FamilyMedicalHistory</name>
        <label>create_FamilyMedicalHistory</label>
        <locationX>568</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Family_Member_Condition</targetReference>
        </connector>
        <inputReference>obj_FamilyMedicalHistory</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_FamilyMedicalHistoryCondition</name>
        <label>create_FamilyMedicalHistoryCondition</label>
        <locationX>568</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Next_Action</targetReference>
        </connector>
        <inputReference>obj_FamilyMedicalHistoryCondition</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Account</name>
        <label>get_Account</label>
        <locationX>568</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Family_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Family_Member</name>
        <label>Family Member</label>
        <locationX>568</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>set_FamilyMedicalHistory_0</targetReference>
        </connector>
        <fields>
            <name>Family_Member_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Relationship2</name>
            <choiceReferences>Relationship</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Related_Through_Family_Member</name>
            <choiceReferences>RelatedThroughFamilyMember</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Related Through Family Member</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Race_Picklist</name>
            <choiceReferences>Race_Picklist_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Race</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ethnicity2</name>
            <choiceReferences>Ethnicity</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ethnicity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Twin2</name>
            <choiceReferences>Twin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Twin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_this_Person_Living</name>
            <dataType>Boolean</dataType>
            <fieldText>Is this Person Living?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_This_Person_Adopted</name>
            <dataType>Boolean</dataType>
            <fieldText>Is This Person Adopted?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_this_person_Ashkenazi_Jewish</name>
            <dataType>Boolean</dataType>
            <fieldText>Is this person Ashkenazi Jewish?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimate_Age</name>
            <choiceReferences>EstimatedAge</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estimate Age</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Estimated_Age_At_Death</name>
            <choiceReferences>EstimatedAgeAtDeath</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estimated Age At Death</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Family_Member_Condition</name>
        <label>Family Member Condition</label>
        <locationX>568</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>set_FamilyMedicalHistoryCondition</targetReference>
        </connector>
        <fields>
            <name>Condition_Name</name>
            <dataType>String</dataType>
            <fieldText>Condition Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ConditionCategories</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>HealthCloudGA__EhrCondition__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Condition_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Condition_Sub_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>ConditionCategory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>ConditionSubCategory</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Age_At_Diagnosis</name>
            <choiceReferences>AgeAtDiagnosis</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Age At Diagnosis</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Next_Action</name>
        <label>Next_Action</label>
        <locationX>568</locationX>
        <locationY>1046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Another</targetReference>
        </connector>
        <fields>
            <name>Add_Another_Condition</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add Another Condition?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>442</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>obj_FamilyMedicalHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Contact__c</objectType>
    </variables>
    <variables>
        <name>obj_FamilyMedicalHistoryCondition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Family_Medical_History_Condition__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
