unpackaged/main/default/flows/Find_Resources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_the_article_to_the_collection</name>
        <label>Add the article to the collection</label>
        <locationX>2065</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>collKnowledgeArticles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_of_the_articles_pulled</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trim_off_the_category_we_just_processed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_To_ReferralList</name>
        <label>add_To_ReferralList</label>
        <locationX>853</locationX>
        <locationY>879</locationY>
        <assignmentItems>
            <assignToReference>referralList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleReferralRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Articles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_count_of_filtered_articles</name>
        <label>Set count of filtered articles</label>
        <locationX>1411</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>countFilteredArticles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collKnowledgeArticles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_have_filtered_articles_to_display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_number_of_returns</name>
        <label>Set number of returns</label>
        <locationX>1317</locationX>
        <locationY>75</locationY>
        <assignmentItems>
            <assignToReference>countArticles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_Records_by_State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_have_an_initial_record_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ReferralRecord</name>
        <label>set_ReferralRecord</label>
        <locationX>955</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>singleReferralRecord.Knowledge_Article_Referred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Articles.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleReferralRecord.Referred_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleReferralRecord.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountSelectedArticles</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleReferralRecord.Referred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_To_ReferralList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_string</name>
        <label>set string</label>
        <locationX>1871</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>stringSelectedSubCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Community_Topics</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_Community_Topic_Selections_Made</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trim_off_the_category_we_just_processed</name>
        <label>Trim off the category we just processed</label>
        <locationX>2212</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>stringSelectedSubCat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>trimmedStringSelectedSubCat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_Community_Topic_Selections_Made</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the user has selected referral records.</description>
        <name>CheckHasReferralRecords</name>
        <label>CheckHasReferralRecords</label>
        <locationX>493</locationX>
        <locationY>682</locationY>
        <defaultConnector>
            <targetReference>NoArticlesSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasReferralRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountSelectedArticles</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>insertReferralList</targetReference>
            </connector>
            <label>hasReferralRecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_already_have_this_article_in_the_collection</name>
        <label>Do we already have this article in the collection?</label>
        <locationX>1864</locationX>
        <locationY>753</locationY>
        <defaultConnector>
            <targetReference>Does_the_Article_have_the_subcategory_we_re_evaluating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>It it not already there</defaultConnectorLabel>
        <rules>
            <name>It_is_already_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collKnowledgeArticles</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>For_each_of_the_articles_pulled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_of_the_articles_pulled</targetReference>
            </connector>
            <label>It is already there</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_an_initial_record_set</name>
        <label>Do we have an initial record set?</label>
        <locationX>1308</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>No_results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>we_have_an_initial_record_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countArticles</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_of_the_articles_pulled</targetReference>
            </connector>
            <label>we have an initial record set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_filtered_articles_to_display</name>
        <label>Do we have filtered articles to display?</label>
        <locationX>1011</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>No_results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>we_have_filtered_articles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countFilteredArticles</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KnowledgeArticleTable</targetReference>
            </connector>
            <label>we have filtered articles</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Article_have_the_subcategory_we_re_evaluating</name>
        <label>Does the Article have the subcategory we&apos;re evaluating?</label>
        <locationX>2333</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>Trim_off_the_category_we_just_processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>it does not have the sub category</defaultConnectorLabel>
        <rules>
            <name>it_has_the_sub_category</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_of_the_articles_pulled.Community_Topics__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>firstSelectedSubCategory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_the_article_to_the_collection</targetReference>
            </connector>
            <label>it has the sub category</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_Community_Topic_Selections_Made</name>
        <label>Were Community Topic Selections Made?</label>
        <locationX>1863</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>For_each_of_the_articles_pulled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lenStringSubCats</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_we_already_have_this_article_in_the_collection</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Update to the original Search Articles flow - works entirely from the Knowledge Articles, with the new fields.  Updated with changes to SubCategory replaced by Community Topics.</description>
    <dynamicChoiceSets>
        <name>ArticleType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Knowledge_Article_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CommunityTopics</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Community_Topics__c</picklistField>
        <picklistObject>Knowledge_Resource_Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GlobalCountryPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>MailingCountryCode</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GlobalStatePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>MailingStateCode</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>knowledgeList</name>
        <dataType>String</dataType>
        <displayField>Concat_name_for_Search_Article_Flow__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Billing_Address_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>US_State</elementReference>
            </value>
        </filters>
        <filters>
            <field>Knowledge_Article_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Community_Topics</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputAssignments>
            <assignToReference>varSelectKnowledgeArctileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Title</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>US_States__c</picklistField>
        <picklistObject>Knowledge_Resource_Recommendation__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>firstSelectedSubCategory</name>
        <dataType>String</dataType>
        <expression>if(CONTAINS({!stringSelectedSubCat},&quot;;&quot;),
TRIM(LEFT({!stringSelectedSubCat}, FIND(&quot;;&quot;, {!stringSelectedSubCat})-1)),
{!stringSelectedSubCat})</expression>
    </formulas>
    <formulas>
        <name>lenStringSubCats</name>
        <dataType>Number</dataType>
        <expression>len({!stringSelectedSubCat})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>loggedInUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>selectedSubCategories</name>
        <dataType>String</dataType>
        <expression>{!Community_Topics}</expression>
    </formulas>
    <formulas>
        <name>trimmedStringSelectedSubCat</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!stringSelectedSubCat},&quot;;&quot;),
TRIM(RIGHT({!stringSelectedSubCat}, LEN({!stringSelectedSubCat}) - FIND(&quot;;&quot;, {!stringSelectedSubCat}))),
&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Find Resources {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Resources</label>
    <loops>
        <name>For_each_of_the_articles_pulled</name>
        <label>For each of the articles pulled</label>
        <locationX>1559</locationX>
        <locationY>287</locationY>
        <collectionReference>get_Records_by_State</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_string</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_count_of_filtered_articles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Articles</name>
        <label>Loop Selected Articles</label>
        <locationX>765</locationX>
        <locationY>678</locationY>
        <collectionReference>selectedArticlesNew</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_ReferralRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckHasReferralRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>insertReferralList</name>
        <label>insertReferralList</label>
        <locationX>500</locationX>
        <locationY>892</locationY>
        <connector>
            <targetReference>FinalScreen</targetReference>
        </connector>
        <inputReference>referralList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Records_by_State</name>
        <label>get Records by State</label>
        <locationX>1169</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_number_of_returns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Billing_Address_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>US_State</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>FinalScreen</name>
        <label>FinalScreen</label>
        <locationX>361</locationX>
        <locationY>891</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalMessage</name>
            <fieldText>&lt;p&gt;Referrals successfully created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>KnowledgeArticleTable</name>
        <label>KnowledgeArticleTable</label>
        <locationX>765</locationX>
        <locationY>503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Selected_Articles</targetReference>
        </connector>
        <fields>
            <name>tableInstructions</name>
            <fieldText>&lt;p&gt;Check the resources below you would like to refer to this Patient, then click &quot;Finish&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>createKnowledgeArticleDataTable</name>
            <extensionName>c:dataTableFSCForArticles</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard1</name>
                <value>
                    <elementReference>collKnowledgeArticles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Summary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Summary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Account_Billing_Address_State__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>State</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Account_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_standard1</name>
                <value>
                    <elementReference>selectedArticlesNew</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedArticlesNew</assignToReference>
                <name>selectedRows_standard1</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_results</name>
        <label>No results</label>
        <locationX>1022</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_Criteria</targetReference>
        </connector>
        <fields>
            <name>NoResultsMessage</name>
            <fieldText>&lt;p&gt;Unfortunately your search returned zero local resources. Please go back to change your search and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoArticlesSelected</name>
        <label>NoArticlesSelected</label>
        <locationX>291</locationX>
        <locationY>680</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Selected_Articles</name>
            <fieldText>&lt;p&gt;There were no articles selected. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Criteria</name>
        <label>Search Criteria</label>
        <locationX>1019</locationX>
        <locationY>75</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Records_by_State</targetReference>
        </connector>
        <fields>
            <name>Search_Message</name>
            <fieldText>&lt;p&gt;Enter search criteria&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>US_State</name>
            <choiceReferences>StatePicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>US State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ResourceSubCategoryText</name>
            <fieldText>&lt;p&gt;Please select one or more resource Sub Category to filter by (this is an OR search, returning any resources that contain any one of the selections below)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Community_Topics</name>
            <choiceReferences>CommunityTopics</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Community Topics</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>643</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Search_Criteria</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>knowledgeTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!varAccount}         {!varState}         {!varZip}   &amp;lt;/br&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!varknowledgeRecord.Account_Billing_Address_State__c}  &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&amp;lt;/br&amp;gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>collKnowledgeArticles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>collPulledArticles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>countArticles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countFilteredArticles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>knowldgeArticlesSelected</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral_Record__c</objectType>
    </variables>
    <variables>
        <name>selectedArticles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>selectedArticlesNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>singleReferralRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral_Record__c</objectType>
    </variables>
    <variables>
        <name>stringSelectedSubCat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountSelectedArticles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varKnowledgeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varknowledgeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>varSelectAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectKnowledgeArctileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStateToQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
