unpackaged/main/default/flows/Flag_Clinical_Trials_with_Advanced_Condition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Flag_to_True</name>
        <label>Set Flag to True</label>
        <locationX>514</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>FlagForAdvancedCondition</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Conditions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_the_Condition_Advanced</name>
        <label>Is the Condition Advanced?</label>
        <locationX>507</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Conditions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopingClinicalTrialConditions.Condition__r.Advanced_Condition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flag_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Fired by Process Builder when a new Condition is Added.</description>
    <interviewLabel>Flag Clinical Trials with Advanced Condition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flag Clinical Trials with Advanced Condition</label>
    <loops>
        <name>Loop_Through_Conditions</name>
        <label>Loop Through Conditions</label>
        <locationX>392</locationX>
        <locationY>221</locationY>
        <assignNextValueToReference>loopingClinicalTrialConditions</assignNextValueToReference>
        <collectionReference>get_Related_Clinical_Trial_Conditions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_Condition_Advanced</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Clinical_Trial</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Related_Clinical_Trial_Conditions</name>
        <label>get Related Clinical Trial Conditions</label>
        <locationX>192</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Conditions</targetReference>
        </connector>
        <filters>
            <field>Clinical_Trial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputClinicalTrialID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Clinical_Trial_Condition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Clinical_Trial</name>
        <label>update Clinical Trial</label>
        <locationX>392</locationX>
        <locationY>50</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputClinicalTrialID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contains_Advanced_Condition_s__c</field>
            <value>
                <elementReference>FlagForAdvancedCondition</elementReference>
            </value>
        </inputAssignments>
        <object>Clinical_Trial__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>get_Related_Clinical_Trial_Conditions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FlagForAdvancedCondition</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputClinicalTrialID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopingClinicalTrialConditions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinical_Trial_Condition__c</objectType>
    </variables>
</Flow>
