unpackaged/main/default/flows/Match_Clinical_Trials_to_Patients.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Possible_Patients_List</name>
        <label>Add to Possible Patients List</label>
        <locationX>593</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>collPossiblePatients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopPatient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Patients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_matches</name>
        <label>Count of matches</label>
        <locationX>454</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>countPotentialMatches</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collPossiblePatients</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_have_potential_matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_max_age</name>
        <label>set max age</label>
        <locationX>155</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>varMaxAge</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Clinical_Trial_Record.Maximum_Age__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patients</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_they_already_in_the_Trial</name>
        <label>Are they already in the Trial?</label>
        <locationX>715</locationX>
        <locationY>488</locationY>
        <defaultConnector>
            <targetReference>Are_they_the_right_sex</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, they&apos;re not already in the Trial</defaultConnectorLabel>
        <rules>
            <name>Yes_they_re_already_in_the_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_existing_Patients_in_Trial</leftValueReference>
                <operator>Contains</operator>
            </conditions>
            <connector>
                <targetReference>loop_Patients</targetReference>
            </connector>
            <label>Yes, they&apos;re already in the Trial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_they_the_right_sex</name>
        <label>Are they the right sex?</label>
        <locationX>1010</locationX>
        <locationY>668</locationY>
        <defaultConnector>
            <targetReference>loop_Patients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_the_right_sex</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopPatient.HealthCloudGA__Gender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Clinical_Trial_Record.Gender__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Clinical_Trial_Record.Gender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Possible_Patients_List</targetReference>
            </connector>
            <label>Yes, the right sex</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_have_potential_matches</name>
        <label>Do we have potential matches?</label>
        <locationX>569</locationX>
        <locationY>266</locationY>
        <defaultConnector>
            <targetReference>No_matches_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_we_have_potential_matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countPotentialMatches</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Possible_Patient_Matches</targetReference>
            </connector>
            <label>yes, we have potential matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Max_Age_is_0</name>
        <label>if Max Age is 0</label>
        <locationX>45</locationX>
        <locationY>642</locationY>
        <defaultConnector>
            <targetReference>set_max_age</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>it_is_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Clinical_Trial_Record.Maximum_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patients</targetReference>
            </connector>
            <label>it is zero</label>
        </rules>
    </decisions>
    <description>Matches the Clinical Trial being reviewed to possible Patient Matches.</description>
    <interviewLabel>Match Clinical Trials to Patients {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Match Clinical Trials to Patients</label>
    <loops>
        <name>loop_Patients</name>
        <label>loop Patients</label>
        <locationX>458</locationX>
        <locationY>486</locationY>
        <assignNextValueToReference>loopPatient</assignNextValueToReference>
        <collectionReference>Get_Patients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Are_they_already_in_the_Trial</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_of_matches</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Clinical_Trial_Record</name>
        <label>Get Clinical Trial Record</label>
        <locationX>144</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_Max_Age_is_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputClinicalTrialId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Clinical_Trial__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>So we don&apos;t bring them up again if they&apos;re already registered to this Trial</description>
        <name>get_existing_Patients_in_Trial</name>
        <label>get existing Patients in Trial</label>
        <locationX>355</locationX>
        <locationY>737</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Patients</targetReference>
        </connector>
        <filters>
            <field>Clinical_Trial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputClinicalTrialId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Clinical_Trial_Patient__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patients</name>
        <label>Get Patients in age range</label>
        <locationX>310</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_existing_Patients_in_Trial</targetReference>
        </connector>
        <filters>
            <field>Age_Num__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Clinical_Trial_Record.Minimum_Age__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Age_Num__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>varMaxAge</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_matches_available</name>
        <label>No matches available</label>
        <locationX>572</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;There are currently no matches available for this Trial.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Possible_Patient_Matches</name>
        <label>Possible Patient Matches</label>
        <locationX>837</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>datatable</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard2</name>
                <value>
                    <elementReference>collPossiblePatients</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Full Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>HealthCloudGA__Age__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Age</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>MailingCity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>City</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Ethnicity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Ethnicity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_type</name>
                <value>
                    <stringValue>text</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>282</locationY>
        <connector>
            <targetReference>Get_Clinical_Trial_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collPossiblePatients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>countPotentialMatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>inputClinicalTrialId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopPatient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varMaxAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
