unpackaged/main/default/flows/Observation_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Set_Account_ID_Variable_from_Account</name>
        <label>Set Account ID Variable from Account</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Last_Observation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_ID_Variable_from_Case</name>
        <label>Set Account ID Variable from Case</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Last_Observation_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>nullChoice</name>
        <choiceText>-- Please Select --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;-- Please Select --&quot;</stringValue>
        </value>
    </choices>
    <decisions>
        <name>By_InputRecord_Id</name>
        <label>By InputRecord Id</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_ID_Variable_from_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <description>Screenflow for recording Observation records - updated with Julie&apos;s feedback, focusing on Distress Score Capture, not other details</description>
    <dynamicChoiceSets>
        <name>HormoneReplacementChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Hormone_Replacement_Therapy__c</picklistField>
        <picklistObject>HealthCloudGA__EhrObservation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MaritalStatusChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Marital_Status__c</picklistField>
        <picklistObject>HealthCloudGA__EhrObservation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MenopausalStatusChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Menopausal_Status__c</picklistField>
        <picklistObject>HealthCloudGA__EhrObservation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MenstrualCycleEndChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Why_did_your_menstrual_cycle_end__c</picklistField>
        <picklistObject>HealthCloudGA__EhrObservation__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Observation Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Observation Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Observation_Record</name>
        <label>Create Observation Record</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <inputAssignments>
            <field>Created_from_ID__c</field>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Observation__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emotional_Distress_Score__c</field>
            <value>
                <elementReference>EmotionalDistressScore.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Familial_Distress_Score__c</field>
            <value>
                <elementReference>FamilialDistressScore.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Practical_Distress_Score__c</field>
            <value>
                <elementReference>FinancialDistressScore.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Comments__c</field>
            <value>
                <elementReference>Comments_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_Distress_Score__c</field>
            <value>
                <elementReference>PhysicalDistressScore.value</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__EhrObservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Grab the last Observation record for this Patient to pre-fill some values to save time and questions.</description>
        <name>Get_Last_Observation_0</name>
        <label>Get Last Observation</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filters>
            <field>HealthCloudGA__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <object>HealthCloudGA__EhrObservation__c</object>
        <outputReference>gotObservationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_of_Observation__c</queriedFields>
        <queriedFields>Emotional_Distress_Score__c</queriedFields>
        <queriedFields>Familial_Distress_Score__c</queriedFields>
        <queriedFields>Financial_Practical_Distress_Score__c</queriedFields>
        <queriedFields>Physical_Distress_Score__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Grab the last Observation record for this Patient to pre-fill some values to save time and questions.</description>
        <name>Get_Last_Observation_0_0</name>
        <label>Get Last Observation</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filters>
            <field>HealthCloudGA__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Case.AccountId</elementReference>
            </value>
        </filters>
        <object>HealthCloudGA__EhrObservation__c</object>
        <outputReference>gotObservationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_of_Observation__c</queriedFields>
        <queriedFields>Emotional_Distress_Score__c</queriedFields>
        <queriedFields>Familial_Distress_Score__c</queriedFields>
        <queriedFields>Financial_Practical_Distress_Score__c</queriedFields>
        <queriedFields>Physical_Distress_Score__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Case</name>
        <label>Get the Case</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_ID_Variable_from_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Observation successfully recorded!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Finish to start again and record another Observation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Distress Scoring</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Observation_Record</targetReference>
        </connector>
        <fields>
            <name>LastRecordedObservation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Last Recorded: {!gotObservationRecord.Date_of_Observation__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinancialHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Financial / Practical Distress Score &lt;/span&gt;(Previous: {!gotObservationRecord.Financial_Practical_Distress_Score__c})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinancialDistressScore</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>1 = Low, 10 = Extremely High</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmotionalHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Emotional Distress Score&lt;/span&gt; (Previous: {!gotObservationRecord.Emotional_Distress_Score__c})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmotionalDistressScore</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>1 = Low, 10 = Extremely High</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PhysicalHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Physical Distress Score&lt;/span&gt; (Previous: {!gotObservationRecord.Physical_Distress_Score__c})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PhysicalDistressScore</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>1 = Low, 10 = Extremely High</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FamilialHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Familial Distress Score&lt;/span&gt; (Previous: {!gotObservationRecord.Familial_Distress_Score__c})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FamilialDistressScore</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>1 = Low, 10 = Extremely High</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Comments_Details</name>
            <fieldText>Comments / Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;This is the help text&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>By_InputRecord_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>gotObservationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthCloudGA__EhrObservation__c</objectType>
    </variables>
    <variables>
        <name>inputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedObservationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
