unpackaged/main/default/flows/Pat_Nav_Intake_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Account_Fields_Assignment</name>
        <label>Account Fields Assignment</label>
        <locationX>374</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>GetAccount_0.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount_0.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount_0.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bithdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount_0.HealthCloudGA__Gender__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GenderAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount_0.Ethnicity__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ehtnicity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount_0.Preferred_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Preferred_Language_pat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount_0.Race__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RaceAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount_0.Annual_Household_Income__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HouseholdIncome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount_0.Household_Size_Including_Patient__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HouseholdSize</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount_0.Preferred_method_of_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreferredMethodOfContactPat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount_0.HealthCloudGA__PreferredName__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PreferredName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount_0.Employment_Status__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employment_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount_0.Veteran_Status__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_a_veteran</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccountFromValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>txt_List0fCarePlans</name>
        <label>txt_List0fCarePlans</label>
        <locationX>462</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>txt_CarePlans</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loop_CarePlanCases.Subject} - {!loop_CarePlanCases.CreatedDate} &lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_CarePlanCases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_IntakeComplete</name>
        <label>is_IntakeComplete</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>get_CarePlanRT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount_0.Enrollee_Intake_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Role</name>
        <label>User Role</label>
        <locationX>374</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Account_Info_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Other Roles</defaultConnectorLabel>
        <rules>
            <name>Helpline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserID18Digit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_HelplineRoleID.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Helpline</label>
        </rules>
    </decisions>
    <description>Update - switched to Employment and Veteran Status fields on Contact, from Account</description>
    <dynamicChoiceSets>
        <name>EmploymentStatusContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Employment_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ethnicity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Ethnicity__pc</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>HealthCloudGA__Gender__pc</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Preferred_Language</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Preferred_Language__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferredMethodOfContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Preferred_method_of_contact__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Race</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Race__pc</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VeteranStatusContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Veteran_Status__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>link_to_CarePlanTab</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;a href=&apos;/lightning/cmp/HealthCloudGA__HcComponentWrapper?HealthCloudGA__type=MultipleCarePlans&amp;HealthCloudGA__attr=%7B%22recId%22%3A%22&quot;&amp;{!GetAccount_0.Id}&amp;&quot;%22%2C%22includePatientDetail%22%3Afalse%7D&amp;uid=MultipleCarePlans&quot;&amp;{!GetAccount_0.Id}&amp;&quot;&amp;ws=%2Flightning%2Fr%2FAccount%2F&quot;&amp;{!GetAccount_0.Id}&amp;&quot;%2Fview&apos; target=&apos;self&apos;&gt;Create a New Care Plan&lt;/a&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>UserID18Digit</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.UserRoleId})</expression>
    </formulas>
    <interviewLabel>Pat Nav Intake Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pat Nav Intake Flow</label>
    <loops>
        <name>loop_CarePlanCases</name>
        <label>loop_CarePlanCases</label>
        <locationX>374</locationX>
        <locationY>638</locationY>
        <collectionReference>get_CarePlans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>txt_List0fCarePlans</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_CarePlanRT</name>
        <label>get_CarePlanRT</label>
        <locationX>374</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_CarePlans</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CarePlan</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CarePlans</name>
        <label>get_CarePlans</label>
        <locationX>374</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_CarePlanCases</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CarePlanRT.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_HelplineRoleID</name>
        <label>get_HelplineRoleID</label>
        <locationX>374</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Role</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Helpline</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccount_0</name>
        <label>GetAccount</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_IntakeComplete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccountFromValues</name>
        <label>updateAccount</label>
        <locationX>374</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Links</targetReference>
        </connector>
        <inputReference>GetAccount_0</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateintakeCompleteField</name>
        <label>updateintakeCompleteField</label>
        <locationX>506</locationX>
        <locationY>1814</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount_0.Care_Program_Enrollee__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Intake_Complete__c</field>
            <value>
                <elementReference>bool_NavigationComplete_0</elementReference>
            </value>
        </inputAssignments>
        <object>CareProgramEnrollee</object>
    </recordUpdates>
    <screens>
        <name>Account_Info</name>
        <label>Account Info</label>
        <locationX>374</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_Fields_Assignment</targetReference>
        </connector>
        <fields>
            <name>Account_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Info_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Info_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Info_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Info_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Info_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Account_Info_0_0</name>
        <label>Account Info</label>
        <locationX>506</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateintakeCompleteField</targetReference>
        </connector>
        <fields>
            <name>Account_Info_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Info_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Links</name>
        <label>Links</label>
        <locationX>374</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_HelplineRoleID</targetReference>
        </connector>
        <fields>
            <name>CarePlans</name>
            <fieldText>&lt;p&gt;&lt;b&gt;CARE PLANS&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;Visit the link to create and manage Care Plans&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;{!link_to_CarePlanTab}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Procedures</name>
            <fieldText>&lt;p&gt;&lt;b&gt;PROCEDURES&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Visit the link to create Procedures for Patient.&lt;/p&gt;&lt;p&gt;{!AddProcedure}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Conditions</name>
            <fieldText>&lt;p&gt;&lt;b&gt;CONDITIONS&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Visit the link to log Conditions for Patient.&lt;/p&gt;&lt;p&gt;{!AddCondition1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EncountersText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;ENCOUNTERS&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Visit the link to Log Encounters for Patient.&lt;/p&gt;&lt;p&gt;{!Encounters}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccount_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AddCondition1</name>
        <text>&lt;a href=&quot;/lightning/r/{!GetAccount_0.Id}/related/HealthCloudGA__Conditions__r/view?ws=%2Flightning%2Fr%2FAccount%2F{!GetAccount_0.Id}%2Fview&quot;&gt;Log Conditions&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AddProcedure</name>
        <text>&lt;a href=&quot;/lightning/r/{!GetAccount_0.Id}/related/HealthCloudGA__EHRProcedures__r/view?ws=%2Flightning%2Fr%2FAccount%{!GetAccount_0.Id}%2Fview&quot; &gt;Log Procedures&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Encounters</name>
        <text>&lt;a href=&quot;/lightning/r/{!GetAccount_0.Id}/related/HealthCloudGA__Encounters__r/view?ws=%2Flightning%2Fr%2FAccount%{!GetAccount_0.Id}%2Fview&quot; &gt;Log Encounters&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_CarePlans</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
