unpackaged/main/default/flows/Patient_Navigation_Status_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Completed_Enrollment_Exists</name>
        <label>Completed Enrollment Exists</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Application_Completed_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Completed_Enrollment_Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrollment_Completed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_an_Application_Exist</name>
        <label>Does an Application Exist?</label>
        <locationX>1007</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Never_Been_Navigated_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Application Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Application_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Application_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_status_is_the_Application_In</targetReference>
            </connector>
            <label>Yes, Application Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_active_enrollee_record</name>
        <label>Is there an active enrollee record?</label>
        <locationX>528</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Most_Recent_Application_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Enrollment_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Navigator_User_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_status_is_the_Application_In</name>
        <label>What status is the Application In?</label>
        <locationX>644</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Completed_Enrollment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Application_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Application_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Application_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Need More Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Application_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Applied_for_Navigation_0</targetReference>
            </connector>
            <label>Pre-Completed</label>
        </rules>
        <rules>
            <name>Rejected_or_Cancelled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Most_Recent_Application_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Most_Recent_Application_Record.Application_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_for_Navigation</targetReference>
            </connector>
            <label>Rejected or Cancelled</label>
        </rules>
    </decisions>
    <description>Displays information about the current status of Navigation for this Patient.</description>
    <interviewLabel>Patient Navigation Status Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Navigation Status Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Active_Enrollment_Record</name>
        <label>Get Active Enrollment Record</label>
        <locationX>528</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_active_enrollee_record</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Completed_Enrollment_Record</name>
        <label>Get Completed Enrollment Record</label>
        <locationX>974</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Completed_Enrollment_Exists</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <sortField>End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Application_Record</name>
        <label>Get Most Recent Application Record</label>
        <locationX>1007</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_an_Application_Exist</targetReference>
        </connector>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Navigator_User_Record</name>
        <label>Get Navigator User Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Navigation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_Enrollment_Record.Patient_Navigator__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPatNavApplicationRecordType</name>
        <label>GetPatNavApplicationRecordType</label>
        <locationX>528</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Enrollment_Record</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient_Navigation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Active_Navigation</name>
        <label>Active Navigation</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Active_Navigation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Application_Completed_0</name>
        <label>Application Completed</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApplicationCompletedText_0</name>
            <fieldText>&lt;p&gt;Application has been completed, but no Navigator has been assigned yet.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Applied_for_Navigation_0</name>
        <label>Applied for Navigation</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Applied_for_Navigation_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enrollment_Completed</name>
        <label>Enrollment Completed</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApplicationCompletedText</name>
            <fieldText>&lt;p&gt;This patient was last in Patient Navigation as part of the &lt;span style=&quot;font-size: 13px;&quot;&gt;{!Get_Completed_Enrollment_Record.Care_Program_Name__c} Care Program &lt;/span&gt;with {!Get_Completed_Enrollment_Record.Patient_Navigator_Name__c} on {!Get_Completed_Enrollment_Record.End_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Never_Been_Navigated_0</name>
        <label>Never Been Navigated</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flow_Apply_For_Patient_Navigation</targetReference>
        </connector>
        <fields>
            <name>NeverBeenNavigation_0</name>
            <fieldText>&lt;p&gt;Not currently in Patient Navigation&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next to Start the Application Process&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rejected_for_Navigation</name>
        <label>Rejected for Navigation</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flow_Apply_For_Patient_Navigation2</targetReference>
        </connector>
        <fields>
            <name>Rejected_for_Navigation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>402</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPatNavApplicationRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Flow_Apply_For_Patient_Navigation</name>
        <label>Flow: Apply For Patient Navigation</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <flowName>Apply_For_Patient_Navigation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Apply_For_Patient_Navigation2</name>
        <label>Flow: Apply For Patient Navigation</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <flowName>Apply_For_Patient_Navigation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>inputAccountId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ButtonToPatNavAction</name>
        <text>&lt;runtime_platform_actions-action-renderer apiname=&quot;Account.Apply_for_Patient_Navigation&quot; title=&quot;Apply for Patient Navigation&quot;&gt;&lt;runtime_platform_actions-executor-page-reference&gt;&lt;slot&gt;&lt;slot&gt;&lt;lightning-button&gt;&lt;button name=&quot;Account.Apply_for_Patient_Navigation&quot; type=&quot;button&quot; class=&quot;slds-button slds-button_neutral&quot;&gt;Apply for Patient Navigation&lt;/button&gt;&lt;/lightning-button&gt;&lt;/slot&gt;&lt;/slot&gt;&lt;/runtime_platform_actions-executor-page-reference&gt;&lt;/runtime_platform_actions-action-renderer&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>LinkToNewApplication</name>
        <text>&lt;a href=&quot;/lightning/o/Application__c/new?recordTypeId={!GetPatNavApplicationRecordType.Id}&amp;defaultFieldValues=Patient__c={!inputAccountId}&quot; target=&quot;_self&quot;&gt;Apply for Patient Navigation&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>inputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
