unpackaged/main/default/flows/Patient_Navigator_Matching_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_builtCareProgram_to_Final_Collection_0</name>
        <label>Add builtCareProgram to Final Collection</label>
        <locationX>3614</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>collFinalProgramList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>builtCareProgram</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Available_Care_Program_Team_Members_for_Care_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Team_Members_From_Care_Program_0</name>
        <label>Add Team Members From Care Program</label>
        <locationX>3702</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>colCareProgramTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Available_Care_Program_Team_Members_for_Care_Program</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Programs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Care_Program_Eligibility_Object_Collection</name>
        <label>Add to Care Program Eligibility Object Collection</label>
        <locationX>1590</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>collCareProgramEligibilityRule</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Care_Program_Eligibility_Rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Care_Program_Eligibility_Rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_captured_Zip_to_Variable</name>
        <label>Assign captured Zip to Variable</label>
        <locationX>1524</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varZIP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Account_with_Zip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Team_Members_0</name>
        <label>Count Team Members</label>
        <locationX>3614</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>countTeamMembers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Available_Care_Program_Team_Members_for_Care_Program</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_any_available_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Number_Team_Members_Selected</name>
        <label>Increment Number Team Members Selected</label>
        <locationX>2624</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>numSelectedTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Care_Program_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_test</name>
        <label>set test</label>
        <locationX>1502</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>testCareProgramEligibilityRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Care_Program_Eligibility_Rule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_it_already_in_the_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_up_builtCareProgram_Record_0</name>
        <label>set up builtCareProgram Record</label>
        <locationX>3482</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>builtCareProgram.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Programs.CareProgramId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>builtCareProgram.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Programs.Care_Program_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>builtCareProgram.Flow_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Programs.CareProgram.Patient_Navigator_State__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_we_already_added_the_Care_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Zip_Code_Variable</name>
        <label>Set Zip Code Variable</label>
        <locationX>1128</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varZIP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Account_Record_For_Application.PersonMailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Active_Enrollments_in_Patient_Navigator_Care_Plans</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_available_Team_Members</name>
        <label>Are there any available Team Members</label>
        <locationX>3614</locationX>
        <locationY>3422</locationY>
        <defaultConnector>
            <targetReference>Add_Team_Members_From_Care_Program_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countTeamMembers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Programs</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_patient_navigation_manager</name>
        <label>Check if user is patient navigator manager</label>
        <locationX>688</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Application_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User is pat nav manager</defaultConnectorLabel>
        <rules>
            <name>User_is_not_pat_nav_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Patient_Navigation_Management</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_is_not_pat_nav_manager_screen</targetReference>
            </connector>
            <label>User is not pat nav manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Care_Program_Team_Members_Exist</name>
        <label>Do Care Program Team Members Exist</label>
        <locationX>2338</locationX>
        <locationY>4142</locationY>
        <defaultConnector>
            <targetReference>Display_Care_Program_Team_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colCareProgramTeamMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Team_Members_Not_Available</targetReference>
            </connector>
            <label>No Team Members</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Eligibility_Criteria_Id_match</name>
        <label>Does the Eligibility Criteria Id match?</label>
        <locationX>3724</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Programs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no they don&apos;t match</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Eligibility_Detail_Record.Eligibility_Criteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Programs.EligibilityCriteriaId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_up_builtCareProgram_Record_0</targetReference>
            </connector>
            <label>Yes, they match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Patient_Account_have_a_Mailing_Zip_Code</name>
        <label>Does the Patient Account have a Mailing Zip Code?</label>
        <locationX>1326</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Capture_Zip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Need to ask for Zip</defaultConnectorLabel>
        <rules>
            <name>Yes_Zip_Code_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient_Account_Record_For_Application.PersonMailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Zip_Code_Variable</targetReference>
            </connector>
            <label>Yes, Zip Code is available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_we_already_added_the_Care_Program</name>
        <label>Have we already added the Care Program?</label>
        <locationX>3482</locationX>
        <locationY>2942</locationY>
        <defaultConnector>
            <targetReference>Add_builtCareProgram_to_Final_Collection_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_the_care_program_is_in_the_list_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collFinalProgramList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>builtCareProgram</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Programs</targetReference>
            </connector>
            <label>yes, the care program is in the list already</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_already_in_the_collection</name>
        <label>Is it already in the collection?</label>
        <locationX>1502</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Add_to_Care_Program_Eligibility_Object_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collCareProgramEligibilityRule</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>testCareProgramEligibilityRule</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Care_Program_Eligibility_Rule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_existing_Active_Patient_Navigation_relationship</name>
        <label>Is there an existing, Active, Patient Navigation relationship?</label>
        <locationX>1326</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Get_Eligibility_Detail_Record_by_Zip_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_there_is_an_active_Patient_Navigation_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Active_Enrollments_in_Patient_Navigator_Care_Plans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patient_Navigator_Already_Assigned</targetReference>
            </connector>
            <label>Yes, there is an active Patient Navigation Enrollment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Patient_Account_with_Zip</name>
        <label>Update Patient Account with Zip?</label>
        <locationX>1524</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Active_Enrollments_in_Patient_Navigator_Care_Plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, do not update the Patient Account</defaultConnectorLabel>
        <rules>
            <name>yes_update_the_zip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Save_to_Patient_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Person_Account_Contact</targetReference>
            </connector>
            <label>yes - update the zip</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_Navigator_Selected</name>
        <label>Was a Navigator Selected</label>
        <locationX>2536</locationX>
        <locationY>4718</locationY>
        <defaultConnector>
            <targetReference>For_Each_colSelectedCareProgramTeamMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wrong_Amount_of_Team_Members_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>numSelectedTeamMembers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>numSelectedTeamMembers</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wrong_Amount_of_Team_Members_Selected_Screen</targetReference>
            </connector>
            <label>Wrong Amount of Team Members Selected</label>
        </rules>
    </decisions>
    <description>Flow is now fired from an Application object, and we can select individual Patient Navigators for enrollments, rather than Care Programs.</description>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Patient Navigator Matching Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Navigator Matching Flow</label>
    <loops>
        <name>For_Each_Care_Program_Eligibility_Rule</name>
        <label>For Each Care Program Eligibility Rule</label>
        <locationX>1326</locationX>
        <locationY>1550</locationY>
        <collectionReference>Get_Active_Patient_Navigation_Care_Program_Eligibility_Rules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_test</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_there_an_existing_Active_Patient_Navigation_relationship</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_colSelectedCareProgramTeamMembers</name>
        <label>For Each colSelectedCareProgramTeamMembers</label>
        <locationX>2536</locationX>
        <locationY>5054</locationY>
        <collectionReference>colSelectedCareProgramTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Enrollment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Application_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Eligibility_Detail_Record</name>
        <label>For Each Eligibility Detail Record</label>
        <locationX>2338</locationX>
        <locationY>2462</locationY>
        <collectionReference>Get_Eligibility_Detail_Record_by_Zip_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_through_Programs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Do_Care_Program_Team_Members_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Care_Program_Team_Members</name>
        <label>Loop Selected Care Program Team Members</label>
        <locationX>2536</locationX>
        <locationY>4382</locationY>
        <collectionReference>colSelectedCareProgramTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Number_Team_Members_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Was_a_Navigator_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Programs</name>
        <label>Loop through Programs</label>
        <locationX>3262</locationX>
        <locationY>2582</locationY>
        <collectionReference>collCareProgramEligibilityRule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_the_Eligibility_Criteria_Id_match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_Each_Eligibility_Detail_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Enrollment</name>
        <label>Create Enrollment</label>
        <locationX>2624</locationX>
        <locationY>5174</locationY>
        <connector>
            <targetReference>For_Each_colSelectedCareProgramTeamMembers</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Patient_Account_Record_For_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CareProgramId</field>
            <value>
                <elementReference>For_Each_colSelectedCareProgramTeamMembers.CareProgram.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Get_Patient_Account_Record_For_Application.Name}  {!$Flow.CurrentDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Navigator__c</field>
            <value>
                <elementReference>For_Each_colSelectedCareProgramTeamMembers.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Patient_Navigation_Care_Program_Eligibility_Rules</name>
        <label>Get Active Patient Navigation Care Program Eligibility Rules</label>
        <locationX>1326</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Care_Program_Eligibility_Rule</targetReference>
        </connector>
        <filters>
            <field>Care_Program_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Care_Program_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient Navigation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CareProgramEligibilityRule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the current Application the flow is launched from</description>
        <name>Get_Application_Record</name>
        <label>Get Application Record</label>
        <locationX>1326</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Account_Record_For_Application</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Available_Care_Program_Team_Members_for_Care_Program</name>
        <label>Get Available Care Program Team Members for Care Program</label>
        <locationX>3614</locationX>
        <locationY>3182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Team_Members_0</targetReference>
        </connector>
        <filters>
            <field>CareProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>builtCareProgram.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Navigator_Available_For_Navigation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CareProgramTeamMember</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eligibility_Detail_Record_by_Zip_0</name>
        <label>Get Eligibility Detail Record by Zip</label>
        <locationX>2338</locationX>
        <locationY>2342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Eligibility_Detail_Record</targetReference>
        </connector>
        <filters>
            <field>ZIP_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varZIP</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Eligibility_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Active_Enrollments_in_Patient_Navigator_Care_Plans</name>
        <label>Get Existing Active Enrollments in Patient Navigator Care Plans</label>
        <locationX>1326</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Patient_Navigation_Care_Program_Eligibility_Rules</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Account_Record_For_Application.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Care_Program_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient Navigation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CareProgramEnrollee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Patient Account record for the original Application the flow was launched from</description>
        <name>Get_Patient_Account_Record_For_Application</name>
        <label>Get Patient Account Record For Application</label>
        <locationX>1326</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Patient_Account_have_a_Mailing_Zip_Code</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application_Record.Patient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Status</name>
        <label>Update Application Status</label>
        <locationX>2536</locationX>
        <locationY>5390</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Account_Contact</name>
        <label>Update Person Account Contact</label>
        <locationX>1392</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Existing_Active_Enrollments_in_Patient_Navigator_Care_Plans</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Account_Record_For_Application.PersonContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Capture_Zip</name>
        <label>Capture Zip</label>
        <locationX>1524</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_captured_Zip_to_Variable</targetReference>
        </connector>
        <fields>
            <name>NeedZipText</name>
            <fieldText>&lt;p&gt;This patient account has no zip code, please ask and record here:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Zip_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Save_to_Patient_Account</name>
            <dataType>Boolean</dataType>
            <fieldText>Save to Patient Account?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Care_Program_Team_Members</name>
        <label>Display Care Program Team Members</label>
        <locationX>2536</locationX>
        <locationY>4262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Care_Program_Team_Members</targetReference>
        </connector>
        <fields>
            <name>Team_Members_Datatable</name>
            <extensionName>c:LightningFlowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>careProgramTeamMemberData</name>
                <value>
                    <elementReference>colCareProgramTeamMembers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>CareProgramTeamMember</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>careProgramTeamMemberSelectedRows</name>
                <value>
                    <elementReference>colSelectedCareProgramTeamMembers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleSelection</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>User_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Team Member</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Care_Program_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Care Program</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>User_Display_Address__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Team Member Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Current_Active_Patients__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Current Active Patients</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>colCareProgramTeamMembers</assignToReference>
                <name>careProgramTeamMemberData</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>colSelectedCareProgramTeamMembers</assignToReference>
                <name>careProgramTeamMemberSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Patient_Navigator_Already_Assigned</name>
        <label>Patient Navigator Already Assigned</label>
        <locationX>314</locationX>
        <locationY>2342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;This Patient already has a Patient Navigator assigned, please check Care Program Enrollees list under Funding Data tab.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Team_Members_Not_Available</name>
        <label>Team Members Not Available</label>
        <locationX>2140</locationX>
        <locationY>4262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Team_Members_Exist_Message</name>
            <fieldText>&lt;p&gt;There are no Care Program Team Members available for assignment&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>1326</locationX>
        <locationY>5702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text2</name>
            <fieldText>&lt;p&gt;Enrollment Created - Patient will now be connected with the selected Patient Navigator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_is_not_pat_nav_manager_screen</name>
        <label>User is not Pat Nav Manager</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_pat_nav_manager_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Only patient navigation managers can assign patients.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wrong_Amount_of_Team_Members_Selected_Screen</name>
        <label>Wrong Amount of Team Members Selected Screen</label>
        <locationX>2404</locationX>
        <locationY>4838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>For_Each_colSelectedCareProgramTeamMembers</targetReference>
        </connector>
        <fields>
            <name>Wrong_Amount_of_Team_Members_Selected_Text</name>
            <fieldText>&lt;p&gt;One Patient Navigator must be selected to create the enrollment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_patient_navigation_manager</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>builtCareProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgram</objectType>
    </variables>
    <variables>
        <name>colCareProgramTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgramTeamMember</objectType>
    </variables>
    <variables>
        <name>colFinalProgramIdsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>collCareProgramEligibilityRule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgramEligibilityRule</objectType>
    </variables>
    <variables>
        <name>collFinalProgramList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgram</objectType>
    </variables>
    <variables>
        <name>colPatientNavigatorUsersForCarePrograms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>colSelectedCareProgramTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgramTeamMember</objectType>
    </variables>
    <variables>
        <name>countTeamMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Enrollment_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numPatientNavigatorsSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numSelectedTeamMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testCareProgramEligibilityRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgramEligibilityRule</objectType>
    </variables>
    <variables>
        <name>varCareProgramEligibilityRuleCriteriaIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCareProgramList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgram</objectType>
    </variables>
    <variables>
        <name>varSelectedPatientNavigators</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varZIP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
<apiVersion>50.0</apiVersion></Flow>
