unpackaged/main/default/flows/Patient_Email_for_Appointment_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Patient_Email_Assignment_on_Patient_record</name>
        <label>Patient Email Assignment on Patient record</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Patient_Record.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Valid_Email_Format</name>
        <label>Check for Valid Email Format</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Email_Invalid_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Invalid</defaultConnectorLabel>
        <rules>
            <name>Email_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidateEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patient_Email_Assignment_on_Patient_record</targetReference>
            </connector>
            <label>Email Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Patient_Record_has_Email</name>
        <label>Check if Patient Record has Email</label>
        <locationX>358</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>YES</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Patient_Record.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_from_Helpline</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <formulas>
        <name>ValidateEmail</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!PatientEmail.value},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</expression>
    </formulas>
    <interviewLabel>Patient Email for Appointment Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Email for Appointment Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Appointment_Record</name>
        <label>Get Appointment Record</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Patient_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthCloudGA__EhrEncounter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Patient_Record</name>
        <label>Get Related Patient Record</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Patient_Record_has_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Appointment_Record.HealthCloudGA__Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patient_Record</name>
        <label>Update Patient Record</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <faultConnector>
            <targetReference>Email_Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Related_Patient_Record</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Email_Fault_Screen</name>
        <label>Email Fault Screen</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Email_Fault_Message</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Sorry, we hit an error when executing the flow.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_Invalid_Screen</name>
        <label>Email Invalid Screen</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Patient_Email_Assignment_on_Patient_record</targetReference>
        </connector>
        <fields>
            <name>Email_Invalid_Format_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(234, 0, 30);&quot;&gt;This value doesn&apos;t follow the required pattern. Try a different format or contact your admin for help.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Email_from_Helpline</name>
        <label>Get Email from Helpline</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Valid_Email_Format</targetReference>
        </connector>
        <fields>
            <name>Add_Email_Warning_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(240, 0, 0); font-size: 14px;&quot;&gt;Important:&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt; The associated Patient has no email address, so appointment reminders cannot be sent. You can update the email on the Patient Account below.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PatientEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Patient Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Appointment_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
