unpackaged/main/default/flows/Recommend_a_Resource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>878</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>objCase.Resource_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_to_Recommended_Resource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resource Recommendation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLoggedInUser.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Resource_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_Resource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getKnowledgeResourceQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Number.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResourceEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Primary_Contact_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_should_we_talk_to</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.External_Referral_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WebsiteURL.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_Assignment</name>
        <label>Error Message Assignment</label>
        <locationX>514</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please Ensure to provide at least one values in Address/Phone/Website URL/Email.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getResourceRecommendatuons</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>InfomationAddedForResource</name>
        <label>InfomationAddedForResource</label>
        <locationX>411</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone_Number.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Address_Resource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResourceEmail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WebsiteURL.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_Assignment</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RelationshipValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resource_Relationship__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Recommend a Resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommend a Resource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCase</name>
        <label>createCase</label>
        <locationX>878</locationX>
        <locationY>930</locationY>
        <connector>
            <targetReference>getCreatedCase</targetReference>
        </connector>
        <inputReference>objCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>862</locationX>
        <locationY>541</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getKnowledgeResourceQueue</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Knowledge_Resource</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCreatedCase</name>
        <label>getCreatedCase</label>
        <locationX>876</locationX>
        <locationY>1060</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resource_Recommendation_Successful</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getKnowledgeResourceQueue</name>
        <label>getKnowledgeResourceQueue</label>
        <locationX>870</locationX>
        <locationY>649</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Knowledge_Resource</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLoggedInUser</name>
        <label>getLoggedInUser</label>
        <locationX>882</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getResourceRecommendatuons</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>getResourceRecommendatuons</name>
        <label>Get Resource Recommendatuons</label>
        <locationX>882</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>InfomationAddedForResource</targetReference>
        </connector>
        <fields>
            <name>ErrorMessageOnScreen</name>
            <fieldText>&lt;p&gt;{!ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description of Service provided</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Who_should_we_talk_to</name>
            <dataType>String</dataType>
            <fieldText>Who should we talk to?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Relationship_to_Recommended_Resource</name>
            <choiceReferences>RelationshipValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship to Recommended Resource</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;what is your relationship to this resource?&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WebsiteURL</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Website URL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Address_Resource</name>
            <fieldText>Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ResourceEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resource_Recommendation_Successful</name>
        <label>Resource Recommendation Successful</label>
        <locationX>879</locationX>
        <locationY>1216</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreationScreen</name>
            <fieldText>&lt;p&gt;Thank you for your Recommendation. Your case has been logged with case number: {!getCreatedCase.CaseNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getLoggedInUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
