unpackaged/main/default/flows/Report_Issue_with_Knowledge_Article.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>set_Case</name>
        <label>set_Case</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>obj_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Issue Reported for: {!get_Article.Title}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_RecordTypeID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Issue_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resource Issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.Related_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Article.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Queue_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Case</targetReference>
        </connector>
    </assignments>
    <description>Creates a Case from a Knowledge__kav record</description>
    <dynamicChoiceSets>
        <name>Issue_Types</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Issue__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Report Issue with Knowledge Article {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Report Issue with Knowledge Article</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Case</name>
        <label>create_Case</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Report_an_Issue_0</targetReference>
        </connector>
        <inputReference>obj_Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Article</name>
        <label>get_Article</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Report_an_Issue</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Queue</name>
        <label>get_Queue</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_Case</targetReference>
        </connector>
        <filters>
            <field>QueueId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Queue_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QueueSobject</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Queue_Group</name>
        <label>get_Queue_Group</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Queue</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Knowledge_Resource</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_RecordTypeID</name>
        <label>get_RecordTypeID</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Queue_Group</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Knowledge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Report_an_Issue</name>
        <label>Report an Issue</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_RecordTypeID</targetReference>
        </connector>
        <fields>
            <name>Report_Issue</name>
            <fieldText>&lt;p&gt;&lt;b&gt;You are reporting an issue on article: {!get_Article.Title}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Issue_Type</name>
            <choiceReferences>Issue_Types</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Issue Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description2</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Report_an_Issue_0</name>
        <label>Report an Issue</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Report_Issue_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(26, 157, 0);&quot;&gt;Thank You. Your issue for article &lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!get_Article.Title}&lt;/b&gt;&lt;b style=&quot;color: rgb(26, 157, 0);&quot;&gt; has been reported&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Type: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Issue_Type}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Description: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Description2}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Article</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>obj_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
