unpackaged/main/default/flows/RingCentral_Task_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Uses the Health Cloud Action to create the person Account</description>
        <name>create_PersonAccount</name>
        <label>create_PersonAccount</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <actionName>HealthCloudGA__HcCreateAccountAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeId</name>
            <value>
                <elementReference>get_PersonAccount_RT.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Existing_Case</name>
        <label>Go to Existing Case</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Existing_Case.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Record</name>
        <label>Navigate To Record</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>create_Case</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Record_0</name>
        <label>Navigate To Record</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <actionName>c:NavigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>obj_Account.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Set_Account</name>
        <label>Set Account</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>obj_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Helpline_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_2</name>
        <label>Set Account 2</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>obj_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>find_PersonAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Helpline_RT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_Case_already_exist</name>
        <label>Does the Case already exist?</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>find_PersonAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, does not exist</defaultConnectorLabel>
        <rules>
            <name>yes_already_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_to_Existing_Case</targetReference>
            </connector>
            <label>yes, already exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_Account_Found</name>
        <label>Person Account Found?</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>get_PersonAccount_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_PersonAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>TAP Program Owner and Helpline act differently on incoming calls. Helpline Pops a Case, TAP pops to Account</description>
        <name>User_is_Helpline_or_Treatment_Assistance</name>
        <label>User is Helpline or Treatment Assistance</label>
        <locationX>446</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User is Helpline or Other</defaultConnectorLabel>
        <rules>
            <name>User_is_TAP_Program_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAP Program Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_To_Record_0</targetReference>
            </connector>
            <label>User is TAP Program Owner</label>
        </rules>
    </decisions>
    <description>Update to prevent duplicate call ids - check case first</description>
    <formulas>
        <description>Grabs the rightmost 10 characters from the Task Subject</description>
        <name>PhoneNumber</name>
        <dataType>String</dataType>
        <expression>RIGHT({!get_Task.Subject},10)</expression>
    </formulas>
    <interviewLabel>RingCentral_Task_Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RingCentral_Task_Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a Starting Case Related to the newly created Person Account</description>
        <name>create_Case</name>
        <label>create_Case</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>obj_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Helpline_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Inbound Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Helpline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Call_ID__c</field>
            <value>
                <elementReference>get_Task.rcsfl__CALL_UNIQUE_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>find_PersonAccount</name>
        <label>find_PersonAccount</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Person_Account_Found</targetReference>
        </connector>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonOtherPhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonHomePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonAssistantPhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PhoneNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Account</name>
        <label>get_Account</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>create_PersonAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Case</name>
        <label>Get Existing Case</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Case_already_exist</targetReference>
        </connector>
        <filters>
            <field>Unique_Call_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Task.rcsfl__CALL_UNIQUE_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Helpline_RT</name>
        <label>get_Helpline_RT</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_is_Helpline_or_Treatment_Assistance</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Helpline</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_PersonAccount_RT</name>
        <label>get_PersonAccount_RT</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_PersonAccount</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Person</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Task</name>
        <label>get_Task</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Case</targetReference>
        </connector>
        <filters>
            <field>rcsfl__CALL_UNIQUE_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>578</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Navigate_To_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>create_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>obj_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>obj_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>obj_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
