unpackaged/main/default/flows/Search_Articles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>add_To_ReferralList</name>
        <label>add_To_ReferralList</label>
        <locationX>468</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>referralList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleReferralRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Articles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignState</name>
        <label>assignState</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varStateToQuery</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Knowledge_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignStateForZip</name>
        <label>assignStateForZip</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varStateToQuery</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_for_Zip_Code.StateName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Knowledge_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ReferralRecord</name>
        <label>set_ReferralRecord</label>
        <locationX>468</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>singleReferralRecord.Knowledge_Article_Referred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Articles.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleReferralRecord.Referred_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleReferralRecord.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_To_ReferralList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_State_is_blank</name>
        <label>Check if State is blank</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>assignState</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>State_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Zip_is_blank</targetReference>
            </connector>
            <label>State Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Zip_is_blank</name>
        <label>Check if Zip is blank</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_State_for_Zip_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zip_Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Zip</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>State_and_Zip_both_cannot_be_blank</targetReference>
            </connector>
            <label>Zip Is Blank</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ArticleType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Knowledge_Article_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>knowledgeList</name>
        <dataType>String</dataType>
        <displayField>Concat_name_for_Search_Article_Flow__c</displayField>
        <filters>
            <field>Account_Billing_Address_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varStateToQuery</elementReference>
            </value>
        </filters>
        <filters>
            <field>Knowledge_Article_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Article_Type</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputAssignments>
            <assignToReference>varSelectKnowledgeArctileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Title</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>loggedInUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Search Articles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Search Articles</label>
    <loops>
        <name>Loop_Selected_Articles</name>
        <label>Loop Selected Articles</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <collectionReference>selectedArticlesNew</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_ReferralRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>insertReferralList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>insertReferralList</name>
        <label>insertReferralList</label>
        <locationX>380</locationX>
        <locationY>1646</locationY>
        <inputReference>referralList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Knowledge_Records</name>
        <label>Get Knowledge Records</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KnowledgeArticleTable</targetReference>
        </connector>
        <filters>
            <field>Account_Billing_Address_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varStateToQuery</elementReference>
            </value>
        </filters>
        <filters>
            <field>Knowledge_Article_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Article_Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Billing_Address_State__c</queriedFields>
        <queriedFields>Account_Billing_Address_Zip__c</queriedFields>
        <queriedFields>Program_Name__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Article_Type__c</queriedFields>
        <queriedFields>Title</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_State_for_Zip_Code</name>
        <label>Get State for Zip Code</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignStateForZip</targetReference>
        </connector>
        <filters>
            <field>ZIP_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Zip</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Eligibility_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>KnowledgeArticleTable</name>
        <label>KnowledgeArticleTable</label>
        <locationX>380</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Selected_Articles</targetReference>
        </connector>
        <fields>
            <name>createKnowledgeArticleDataTable</name>
            <extensionName>c:dataTableFSCForArticles</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard1</name>
                <value>
                    <elementReference>Get_Knowledge_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Summary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Summary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Account_Billing_Address_State__c	</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>State</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Account_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_standard1</name>
                <value>
                    <elementReference>selectedArticlesNew</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedArticlesNew</assignToReference>
                <name>selectedRows_standard1</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Criteria</name>
        <label>Search Criteria</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_State_is_blank</targetReference>
        </connector>
        <fields>
            <name>Serach_Message</name>
            <fieldText>&lt;p&gt;Enter search criteria. Please provide either State Or Zip Code.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip</name>
            <dataType>String</dataType>
            <fieldText>Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Article_Type</name>
            <choiceReferences>ArticleType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Article Type</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>State_and_Zip_both_cannot_be_blank</name>
        <label>State and Zip both cannot be blank</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Blank_state_and_Zip_message</name>
            <fieldText>&lt;p&gt;Please provide either State or Zip Code for searching the articles.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Criteria</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>knowledgeTemplate</name>
        <text>&lt;p&gt;{!varAccount}         {!varState}         {!varZip}   &amp;lt;/br&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!varknowledgeRecord.Account_Billing_Address_State__c}  &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&amp;lt;/br&amp;gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>knowldgeArticlesSelected</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral_Record__c</objectType>
    </variables>
    <variables>
        <name>selectedArticles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>selectedArticlesNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>singleReferralRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral_Record__c</objectType>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKnowledgeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varknowledgeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Knowledge__kav</objectType>
    </variables>
    <variables>
        <name>varSelectAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectKnowledgeArctileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStateToQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
