unpackaged/main/default/flows/User_Record_Update_from_Contact_Name_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_User_Record_Values</name>
        <label>Set User Record Values</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>updateUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateUser.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateUser.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
    </assignments>
    <description>Pass in User Id, First Name, Last Name</description>
    <interviewLabel>User Record Update from Contact Name Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Record Update from Contact Name Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_record</name>
        <label>Get User record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_User_Record_Values</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>updateUser</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
